Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "**/*.go"
      run: golangci-lint run ./...

    frontend-lint:
      root: "web/frontend/"
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files}

    frontend-type-check:
      root: "web/frontend/"
      glob: "**/*.{ts,tsx}"
      run: npm run type-check

backend: hide gorm sentinels behind repositories
  internal/account/service.go
  internal/annotations/service.go
  internal/automation/post_file_service.go
  internal/chat/service.go
  internal/llmprovider/service.go
  internal/profile/service.go
  internal/recording/finalizer.go
  internal/recording/service.go
  internal/repository/errors.go
  internal/summarization/service.go
  internal/tags/service.go
  internal/transcription/service.go
  internal/transcription/worker/service.go
Due: go-lint

backend: remove singleton repository legacy methods
  internal/database/database_test.go
  internal/llmprovider/protected_repository.go
  internal/repository/implementations.go
Due: go-lint

backend: backfill missing transcription summaries
  internal/repository/implementations.go
  internal/summarization/service.go
  internal/summarization/service_test.go
Due: go-lint

backend: repair settings backfill and list indexes
  internal/database/database_test.go
  internal/database/schema.go
  internal/database/steps.go
  internal/repository/implementations.go
  internal/summarization/service_test.go
Due: go-lint

frontend: remove legacy transcription surfaces
  web/frontend/src/components/AudioRecorder.tsx
  web/frontend/src/components/ChatInterface.tsx
  web/frontend/src/components/ChatSessionsSidebar.tsx
  web/frontend/src/components/Header.tsx
  web/frontend/src/components/Layout.tsx
  web/frontend/src/components/MergeStatusBadge.tsx
  web/frontend/src/components/SystemAudioRecorder.tsx
  web/frontend/src/components/TranscribeDDialog.tsx
  web/frontend/src/components/TranscriptionConfigDialog.tsx
  web/frontend/src/components/layout/MainLayout.tsx
  web/frontend/src/contexts/ChatEventsContext.tsx
  web/frontend/src/contexts/GlobalUploadContext.tsx
  web/frontend/src/features/settings/components/APIKeyCreateDialog.tsx
  web/frontend/src/features/settings/components/APIKeyDisplayDialog.tsx
  web/frontend/src/features/settings/components/APIKeySettings.tsx
  web/frontend/src/features/settings/components/APIKeyTable.tsx
  web/frontend/src/features/settings/components/LLMSettings.tsx
  web/frontend/src/features/settings/components/ProfileSettings.tsx
  web/frontend/src/features/settings/components/ProfilesTable.tsx
  web/frontend/src/features/settings/components/SummaryTemplateDialog.tsx
  web/frontend/src/features/settings/components/SummaryTemplatesTable.tsx
  web/frontend/src/features/transcription/components/AudioFilesTable.tsx
  web/frontend/src/features/transcription/components/Dashboard.tsx
  web/frontend/src/features/transcription/components/QuickTranscriptionDialog.tsx
  web/frontend/src/features/transcription/hooks/useAudioFiles.ts
  web/frontend/src/main.tsx
Due: frontend-lint, frontend-type-check

media: add scoped audio stream tokens
  internal/api/middleware.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/stream_tokens.go
  web/frontend/src/features/files/api/filesApi.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
Due: go-lint, frontend-lint, frontend-type-check

frontend: make audio detail version aware
  internal/api/transcription_handlers.go
  internal/repository/implementations.go
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/transcription/api/transcriptionsApi.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
  web/frontend/src/styles/design-system.css
Due: go-lint, frontend-lint, frontend-type-check

frontend: consolidate global event stream
  web/frontend/src/features/events/AppEventsProvider.tsx
  web/frontend/src/features/files/hooks/useFileEvents.ts
  web/frontend/src/features/files/hooks/useFileImport.ts
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/recording/components/RecordingProvider.tsx
  web/frontend/src/features/recording/hooks/useRecordingEvents.ts
  web/frontend/src/features/recording/hooks/useRecordingSession.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/MultiTrackUploadDialog.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionListEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
  web/frontend/src/main.tsx
  web/frontend/src/utils/fileProcessor.ts
Due: frontend-lint, frontend-type-check

frontend: disable raw html in chat markdown
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/features/transcription/components/TranscriptChatPanel.tsx
Due: frontend-lint, frontend-type-check

frontend: harden auth and recording chunk persistence
  web/frontend/src/features/auth/store/authStore.ts
  web/frontend/src/features/recording/hooks/useBrowserRecorder.ts
  web/frontend/src/features/recording/utils/recordingChunkOutbox.ts
Due: frontend-lint, frontend-type-check

backend: remove stale embedded frontend bundle
  internal/cli/client.go
  internal/web/frontend/assets/index-Czw5UNl_.css
  internal/web/frontend/assets/index-Dz2_a66b.js
  internal/web/frontend/index.html
  internal/web/frontend/vite.svg
Due: go-lint

backend: establish asr provider sprint baseline
  devnotes/v2.0.0/specs/asr-provider-backend-architecture.md
  devnotes/v2.0.0/sprint-plans/asr-provider-backend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  devnotes/v2.0.0/status-updates/asr-provider-backend-sprint-00-inventory.md
  internal/api/architecture_test.go
Due: go-lint

backend: add asr provider contract types
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/transcription/asrcontract/types.go
  internal/transcription/asrcontract/types_test.go
Due: go-lint

backend: extend asr provider registry interface
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/api/engine_worker_api_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/registry.go
  internal/transcription/engineprovider/registry_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

backend: move profile model validation to catalog
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/api/architecture_test.go
  internal/api/profile_handlers.go
  internal/app/app.go
  internal/profile/model_catalog.go
  internal/profile/service.go
  internal/profile/service_test.go
Due: go-lint

backend: route asr provider progress
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

backend: add ffmpeg asr preprocessing boundary
  devnotes/v2.0.0/sprint-plans/asr-provider-backend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/app/app.go
  internal/config/config.go
  internal/config/config_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/preprocess/preprocess.go
  internal/transcription/preprocess/preprocess_test.go
Due: go-lint

backend: remove legacy asr parameter surface
  cmd/server/main.go
  devnotes/v2.0.0/sprint-plans/asr-provider-backend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/api/architecture_test.go
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/api/response_models.go
  internal/api/response_models_test.go
  internal/database/database_test.go
  internal/database/legacy.go
  internal/models/transcription.go
  internal/profile/service.go
  internal/profile/service_test.go
  internal/recording/finalizer.go
  internal/recording/finalizer_test.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/service.go
  tests/database_test.go
  tests/test_helpers.go
Due: go-lint

backend: add remote asr provider client
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/transcription/engineprovider/remote/client.go
  internal/transcription/engineprovider/remote/client_test.go
Due: go-lint

backend: wire configurable asr providers
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/app/app.go
  internal/app/app_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-lint

backend: execute asr provider pipelines
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

backend: persist asr profile pipelines
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/api/architecture_test.go
  internal/api/files_test.go
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/api/response_models.go
  internal/api/response_models_test.go
  internal/api/transcriptions_test.go
  internal/api/types.go
  internal/models/transcription.go
  internal/profile/model_catalog.go
  internal/profile/service.go
  internal/profile/service_test.go
  internal/recording/finalizer.go
  internal/recording/finalizer_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/service.go
  tests/database_test.go
  tests/queue_test.go
Due: go-lint

test: remove stale legacy helpers
  tests/database_test.go
  tests/llm_test.go
  tests/test_helpers.go
Due: go-lint

backend: add asr provider diagnostics api
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/api/asr_provider_admin_handlers.go
  internal/api/engine_worker_api_test.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/types.go
  internal/transcription/engineprovider/registry.go
  internal/transcription/engineprovider/types.go
Due: go-lint

backend: harden asr provider contract
  devnotes/v2.0.0/specs/asr-provider-author-guide.md
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  devnotes/v2.0.0/status-updates/asr-provider-backend-sprint-12-hardening.md
  internal/api/architecture_test.go
  internal/database/database_test.go
  internal/transcription/engineprovider/contracttest/provider_contract.go
  internal/transcription/engineprovider/remote/example_provider_test.go
Due: go-lint

feat(docker): add OCI image provenance labels
  Dockerfile
  Dockerfile.cuda
  Dockerfile.cuda.12.9
Due: none

backend: align local provider with native engine contract
  internal/api/profile_handlers.go
  internal/api/types.go
  internal/models/transcription.go
  internal/profile/service.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/remote/client.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
Due: go-lint

frontend: remove legacy canary profile controls
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
Due: frontend-lint, frontend-type-check

ASRP Sprint 13 dynamic parameter schemas
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/profile/model_catalog.go
  internal/profile/service.go
  internal/profile/service_test.go
  internal/transcription/asrcontract/types.go
  internal/transcription/asrcontract/types_test.go
  internal/transcription/engineprovider/contracttest/provider_contract.go
  internal/transcription/engineprovider/contracttest/provider_contract_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/remote/example_provider_test.go
Due: go-lint

Record ASRP Sprint 13 completion
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
Due: none

ASRP Sprint 14 add execution planner
  internal/transcription/asrcontract/types.go
  internal/transcription/orchestrator/planner.go
  internal/transcription/orchestrator/planner_test.go
Due: go-lint

ASRP Sprint 14 wire execution planner
  internal/transcription/asrcontract/types.go
  internal/transcription/orchestrator/planner.go
  internal/transcription/orchestrator/planner_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

Record ASRP Sprint 14 completion
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
Due: none

ASRP Sprint 15 add local sherpa descriptors
  internal/transcription/asrcontract/types.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/orchestrator/planner.go
Due: go-lint

ASRP Sprint 15 harden descriptor tests
  internal/transcription/engineprovider/local_provider_test.go
Due: go-lint

Record ASRP Sprint 15 completion
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
Due: none

ASRP Sprint 16 integrate Parakeet local flow
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/remote/client.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/orchestrator/transcript.go
  internal/transcription/orchestrator/transcript_test.go
Due: go-lint

Record ASRP Sprint 16 completion
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
Due: none

Document backend engine convergence sprint
  devnotes/v2.0.0/specs/backend-engine-provider-convergence.md
  devnotes/v2.0.0/sprint-plans/backend-engine-provider-convergence-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/backend-engine-provider-convergence-sprint-tracker.md
  devnotes/v2.0.0/status-updates/be-eng-provider-sprint-00-contract-inventory.md
Due: none

Collapse backend provider requests to parameters
  devnotes/v2.0.0/sprint-trackers/backend-engine-provider-convergence-sprint-tracker.md
  devnotes/v2.0.0/status-updates/be-eng-provider-sprint-01-request-contract-collapse.md
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/real_engine_integration_test.go
  internal/transcription/engineprovider/remote/client.go
  internal/transcription/engineprovider/remote/client_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/planner.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint
