Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "**/*.go"
      run: golangci-lint run ./...

    frontend-lint:
      root: "web/frontend/"
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files}

    frontend-type-check:
      root: "web/frontend/"
      glob: "**/*.{ts,tsx}"
      run: npm run type-check

fix: use Literata font for all transcripts
  web/frontend/src/components/transcript/TranscriptView.tsx
Due: frontend-lint, frontend-type-check

fix: disable timeline view for transcripts without word-level timestamps
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
Due: frontend-lint, frontend-type-check

clean lint
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

fix: streamline API docs generation to sync both locations
  Makefile
  web/project-site/public/api/swagger.json
Due: none

feat: expand language support in the UI to 58 languages for Whisper and OpenAI models
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: frontend-lint, frontend-type-check

fix: make transcription temp and output directories configurable
  cmd/server/main.go
  internal/config/config.go
  internal/database/database.go
  internal/transcription/adapters_test.go
  internal/transcription/queue_integration.go
  internal/transcription/unified_service.go
  internal/transcription/webhook_integration_test.go
  tests/api_handlers_test.go
  tests/cli_handlers_test.go
  tests/security_test.go
Due: go-lint

feat: add VAD segmentation thresholds for Pyannote diarization
  internal/transcription/adapters/py/pyannote/pyannote_diarize.py
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/unified_service.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

fix: Listen button in selection menu now works in Timeline View
  web/frontend/src/components/transcript/TranscriptView.tsx
  web/frontend/src/features/transcription/hooks/useSelectionMenu.ts
Due: frontend-lint, frontend-type-check

feat: click timestamp to seek in Timeline View
  web/frontend/src/components/transcript/TranscriptView.tsx
Due: frontend-lint, frontend-type-check

feat: fix auto-scroll and add active segment highlighting in Timeline View
  web/frontend/src/components/transcript/TranscriptView.tsx
Due: frontend-lint, frontend-type-check

fix: speaker rename now updates in real-time without page reload
  web/frontend/src/features/transcription/components/audio-detail/TranscriptSection.tsx
Due: frontend-lint, frontend-type-check

fix: keep header controls visible during auto-scroll
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
Due: frontend-lint, frontend-type-check

style: add glass-card styling to sticky title section
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
Due: frontend-lint, frontend-type-check

feat: add HF_TOKEN environment variable fallback for diarization
  internal/config/config.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/whisperx_adapter.go
  web/project-site/src/docs/Configuration.mdx
  web/project-site/src/docs/Diarization.mdx
Due: go-lint

test: update PyAnnote test to reflect optional HF token
  internal/transcription/adapters_test.go
Due: go-lint

feat: add speaker identification toggle to summary templates
  internal/api/summary_handlers.go
  internal/models/summary.go
  web/frontend/src/features/settings/components/SummaryTemplateDialog.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/features/transcription/components/audio-detail/SummaryDialog.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionSummary.ts
Due: go-lint, frontend-lint, frontend-type-check

feat: add Docker image publishing workflow for all variants
  .github/workflows/docker-publish.yml
  docker-compose.cuda.yml
Due: none

docs: regenerate swagger docs for speaker identification toggle
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
  web/project-site/public/api/swagger.json
Due: go-lint

fix: voxtral duration comparison and "auto" language handling - use shared LANGUAGES constant in frontend config dialog
  internal/transcription/adapters/voxtral_adapter.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

fix(auth): prevent infinite fetch recursion and multiple wrapper layers
  web/frontend/src/features/auth/hooks/useAuth.ts
Due: frontend-lint, frontend-type-check

fix the 'any's
  web/frontend/src/features/auth/hooks/useAuth.ts
Due: frontend-lint, frontend-type-check

refactor(auth): centralize fetch interceptor and auto-inject auth headers
  web/frontend/src/features/auth/hooks/useAuth.ts
  web/frontend/src/lib/authInterceptor.ts
  web/frontend/src/main.tsx
Due: frontend-lint, frontend-type-check

refactor(auth): extract shared helpers and reduce duplication
  web/frontend/src/features/auth/hooks/useAuth.ts
  web/frontend/src/lib/authHelpers.ts
  web/frontend/src/lib/authInterceptor.ts
  web/frontend/src/lib/authTypes.ts
Due: frontend-lint, frontend-type-check

Update dev workflow to run ASR engine
  Makefile
  README.md
Due: none

Add ASR engine dev setup helper
  Makefile
  README.md
  scripts/dev_setup_asr_engine.sh
Due: none

Fix ASR engine dev startup and path handling
  Makefile
  README.md
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  scripts/dev_setup_asr_engine.sh
Due: go-lint

Adjust cookie security for proxy/HTTP dev
  Makefile
  README.md
  cmd/server/main.go
  internal/api/cookies.go
  internal/api/handlers.go
  internal/config/config.go
  web/project-site/src/docs/Installation.mdx
  web/project-site/src/docs/Troubleshooting.mdx
Due: go-lint

Port Whisper to ASR engine and clean legacy code
  asr-engines/scriberr-asr-onnx/README.md
  cmd/server/main.go
  internal/api/handlers.go
  internal/config/config.go
  internal/models/transcription.go
  internal/transcription/README.md
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/py/README.md
  internal/transcription/adapters/py/nvidia/canary_transcribe.py
  internal/transcription/adapters/py/nvidia/parakeet_transcribe.py
  internal/transcription/adapters/py/nvidia/parakeet_transcribe_buffered.py
  internal/transcription/adapters/py/nvidia/tests/test_canary_transcribe.py
  internal/transcription/adapters/py/nvidia/tests/test_parakeet_transcribe.py
  internal/transcription/adapters/py/nvidia/tests/test_parakeet_transcribe_buffered.py
  internal/transcription/adapters/sortformer_adapter.go
  internal/transcription/adapters/whisper_adapter.go
  internal/transcription/adapters/whisperx_adapter.go
  internal/transcription/adapters_test.go
  internal/transcription/queue_integration.go
  internal/transcription/quick_transcription.go
  internal/transcription/unified_service.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/ExecutionInfoDialog.tsx
  web/project-site/src/docs/Installation.mdx
Due: go-lint, frontend-lint, frontend-type-check
