Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

go-lint:
  run: golangci-lint run ./...

frontend-lint:
  run: npx eslint {staged_files}

frontend-type-check:
  run: npm run type-check

project site
  web/project-site/public/api/swagger.json
  web/project-site/public/api/undocumented.json
Due: none

fix colors and styles
  web/frontend/src/components/Header.tsx
Due: frontend-lint, frontend-type-check

Extract python adapter scripts to proper files
  .gitignore
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/py/nvidia/canary_transcribe.py
  internal/transcription/adapters/py/nvidia/parakeet_transcribe.py
  internal/transcription/adapters/py/nvidia/parakeet_transcribe_buffered.py
  internal/transcription/adapters/py/nvidia/pyproject.toml
  internal/transcription/adapters/py/nvidia/sortformer_diarize.py
  internal/transcription/adapters/py/pyannote/pyannote_diarize.py
  internal/transcription/adapters/py/pyannote/pyproject.toml
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
Due: go-lint

Add test suite for python adapter scripts
  internal/transcription/adapters/py/README.md
  internal/transcription/adapters/py/nvidia/tests/test_canary_transcribe.py
  internal/transcription/adapters/py/nvidia/tests/test_parakeet_transcribe.py
  internal/transcription/adapters/py/nvidia/tests/test_parakeet_transcribe_buffered.py
  internal/transcription/adapters/py/nvidia/tests/test_sortformer_diarize.py
  internal/transcription/adapters/py/pyannote/tests/test_pyannote_diarize.py
  tests/data/AMI-Corpus-IB4002.Mix-Headset-clip.wav
Due: none

always copy scripts
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
Due: go-lint

dont blank on vite startup
  web/frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

fix duplicated openapi annotations pt 2
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
  internal/api/handlers.go
Due: go-lint

fix duplicated openapi annotations
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
  internal/api/handlers.go
Due: go-lint

fixes #317
  internal/api/handlers.go
Due: go-lint

style: apply brand gradient to Upload Recording button
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

refactor: use consistent design system in SystemAudioRecorder
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

refactor: use default button components in SystemAudioRecorder
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

feat: add toggle for Automatic Gain Control
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

fix: use remote-only echo cancellation for microphone
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

refactor: restrict system audio to Chromium browsers only
  .serena/.gitignore
  .serena/project.yml
  scriberr-icon-dark.svg
  scriberr-icon-light.svg
  scriberr_text_logo.svg
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

feat: add system audio recording with microphone mixing
  web/frontend/src/components/Header.tsx
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

fix: ensure directories exist before writing adapter scripts
  Makefile
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
Due: go-lint

feat: add Voxtral-mini transcription support
  cmd/server/main.go
  internal/transcription/adapters/py/voxtral/pyproject.toml
  internal/transcription/adapters/py/voxtral/voxtral_transcribe.py
  internal/transcription/adapters/voxtral_adapter.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

fix: increase Voxtral max_new_tokens to 4096 (max 8192)
  internal/transcription/adapters/py/voxtral/voxtral_transcribe.py
  internal/transcription/adapters/voxtral_adapter.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

fix: update Voxtral token limits based on 32k context window
  internal/transcription/adapters/py/voxtral/voxtral_transcribe.py
  internal/transcription/adapters/voxtral_adapter.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

feat: add buffered transcription for Voxtral to handle long audio
  internal/transcription/adapters/py/voxtral/voxtral_transcribe_buffered.py
  internal/transcription/adapters/voxtral_adapter.go
Due: go-lint

fix: add Voxtral model selection and fix dependencies
  internal/models/transcription.go
  internal/transcription/adapters/py/voxtral/pyproject.toml
  internal/transcription/adapters/py/voxtral/voxtral_transcribe_buffered.py
  internal/transcription/adapters/voxtral_adapter.go
  internal/transcription/unified_service.go
Due: go-lint

fix: disable timeline view for transcripts without word-level timestamps
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
Due: frontend-lint, frontend-type-check

fix: use Literata font for all transcripts
  web/frontend/src/components/transcript/TranscriptView.tsx
Due: frontend-lint, frontend-type-check

feat: add 'make dev' command to replace dev.sh script
  Makefile
  dev.sh
Due: none

fix auto device detection in voxtral
  internal/transcription/adapters/py/voxtral/voxtral_transcribe.py
  internal/transcription/adapters/py/voxtral/voxtral_transcribe_buffered.py
Due: none

update docs
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
Due: go-lint

Path conditions:
  go-lint: any of: **/*.go
  frontend-lint: any of: **/*.{js,jsx,ts,tsx} and ^web/frontend/
  frontend-type-check: any of: **/*.{ts,tsx} and ^web/frontend/
