Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

go-lint:
  run: golangci-lint run ./...

frontend-lint:
  run: npx eslint {staged_files}

frontend-type-check:
  run: npm run type-check

Complete transcript click seek sprint
  devnotes/v2.0.0/sprint-trackers/transcript-click-to-seek-sprint-tracker.md
Due: none

Add inline transcript note editing
  web/frontend/src/features/transcription/api/annotationsApi.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/TranscriptNotesSidebar.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptAnnotations.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Refine transcript note deletion
  web/frontend/src/features/transcription/components/TranscriptNotesSidebar.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Tune transcript sidebar default width
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Add ASR profile picker to transcribe action
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Plan automatic audio title generation
  devnotes/v2.0.0/sprint-plans/automatic-audio-title-generation-sprint.md
Due: none

Add automatic audio title generation
  internal/database/schema.go
  internal/database/steps.go
  internal/models/transcription.go
  internal/repository/implementations.go
  internal/summarization/service.go
  internal/summarization/service_test.go
Due: go-lint

Refresh file titles from SSE events
  web/frontend/src/features/files/hooks/useFileEvents.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
Due: frontend-lint, frontend-type-check

Fix generated titles for recordings
  internal/repository/implementations.go
  internal/summarization/service.go
  internal/summarization/service_test.go
Due: go-lint

Plan automatic audio descriptions
  devnotes/v2.0.0/sprint-plans/automatic-audio-description-generation-sprint.md
  devnotes/v2.0.0/sprint-trackers/automatic-audio-description-generation-sprint-tracker.md
Due: none

Add audio description file contract
  devnotes/v2.0.0/sprint-trackers/automatic-audio-description-generation-sprint-tracker.md
  internal/api/files_test.go
  internal/api/response_models.go
  internal/database/database_test.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/transcription.go
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
  web/frontend/src/features/files/api/filesApi.ts
  web/frontend/src/features/files/hooks/useFileEvents.ts
Due: go-lint, frontend-lint, frontend-type-check

Generate audio descriptions from summaries
  devnotes/v2.0.0/sprint-trackers/automatic-audio-description-generation-sprint-tracker.md
  internal/repository/implementations.go
  internal/summarization/service.go
  internal/summarization/service_test.go
Due: go-lint

Show audio descriptions on home cards
  devnotes/v2.0.0/sprint-trackers/automatic-audio-description-generation-sprint-tracker.md
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Verify audio description workflow
  devnotes/v2.0.0/sprint-trackers/automatic-audio-description-generation-sprint-tracker.md
  internal/repository/implementations.go
  internal/summarization/service.go
Due: go-lint

Refine home recording metadata layout
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Tune home recording typography
  web/frontend/src/styles/design-system.css
Due: none

Use medium weight for home recording titles
  web/frontend/src/styles/design-system.css
Due: none

docs: plan tag organization backend
  devnotes/v2.0.0/sprint-plans/tag-based-audio-organization-backend-sprint-plan.md
Due: none

feat: add audio tag schema
  internal/database/database_test.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/tag.go
Due: go-lint

feat: add audio tag service
  internal/repository/implementations.go
  internal/tags/service.go
  internal/tags/service_test.go
Due: go-lint

docs: track tag organization backend progress
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-backend-sprint-tracker.md
Due: none

feat: expose audio tag api
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/tag_handlers.go
  internal/api/tag_handlers_test.go
  internal/api/transcription_handlers.go
Due: go-lint

docs: update tag api sprint tracker
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-backend-sprint-tracker.md
Due: none

test: cover audio tag events
  internal/api/events_test.go
Due: go-lint

docs: complete tag event sprint tracker
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-backend-sprint-tracker.md
Due: none

docs: plan tag organization frontend
  devnotes/v2.0.0/sprint-plans/tag-based-audio-organization-frontend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

docs: plan tag detail page sprint
  devnotes/v2.0.0/sprint-plans/tag-based-audio-organization-frontend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

feat: add tag usage guidance field
  internal/api/tag_handlers.go
  internal/api/tag_handlers_test.go
  internal/database/database_test.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/tag.go
  internal/repository/implementations.go
  internal/tags/service.go
  internal/tags/service_test.go
Due: go-lint

docs: complete tag frontend sprint 1
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

docs: plan home audio tag display
  devnotes/v2.0.0/sprint-plans/tag-based-audio-organization-frontend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

feat: add frontend tag api hooks
  web/frontend/src/features/tags/api/tagsApi.ts
  web/frontend/src/features/tags/hooks/useTags.ts
  web/frontend/src/features/transcription/api/transcriptionsApi.ts
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
Due: frontend-lint, frontend-type-check

docs: complete tag frontend sprint 2
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

feat: add tag navigation audio list
  web/frontend/src/App.tsx
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

docs: complete tag frontend sprint 3
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

feat: add settings tag management
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/features/tags/components/TagDialog.tsx
  web/frontend/src/features/tags/components/TagsSettingsPanel.tsx
Due: frontend-lint, frontend-type-check

style: compact tag dialog
  web/frontend/src/styles/design-system.css
Due: none

docs: complete tag frontend sprint 4
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

feat: manage tags on audio detail
  web/frontend/src/features/tags/components/AudioTagSection.tsx
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

docs: complete tag frontend sprint 5
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

docs: complete tag frontend verification
  devnotes/v2.0.0/sprint-trackers/tag-based-audio-organization-frontend-sprint-tracker.md
Due: none

Path conditions:
  go-lint: any of: **/*.go
  frontend-lint: any of: **/*.{js,jsx,ts,tsx} and ^web/frontend/
  frontend-type-check: any of: **/*.{ts,tsx} and ^web/frontend/
