Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

go-lint:
  run: golangci-lint run ./...

frontend-lint:
  run: npx eslint {staged_files}

frontend-type-check:
  run: npm run type-check

feat: chunk long audio for duration-capped OpenAI models
  internal/transcription/adapters/openai_adapter.go
  internal/transcription/adapters/openai_chunking.go
  internal/transcription/adapters/openai_chunking_test.go
Due: go-lint

fix: set access-token cookie on registration so audio streams without re-login
  .idea/go.imports.xml
  docker-compose.yml
  internal/api/handlers.go
Due: go-lint

fix: validate sortBy/sortOrder before building ORDER BY clause
  internal/repository/implementations.go
  internal/repository/implementations_test.go
Due: go-lint

feat(transcription): add optional Orukeet NeMo model
  cmd/server/main.go
  internal/transcription/adapters/orukeet_checkpoint.go
  internal/transcription/adapters/orukeet_checkpoint_test.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/py/nvidia/parakeet_transcribe.py
  internal/transcription/adapters/py/nvidia/parakeet_transcribe_buffered.py
  internal/transcription/orukeet_routing_test.go
  internal/transcription/unified_service.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/ExecutionInfoDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

test: validate real Orukeet jobs and isolate buffered audio files
  internal/transcription/adapters/orukeet_integration_test.go
  internal/transcription/adapters/py/nvidia/parakeet_transcribe_buffered.py
Due: go-lint

Revise project status and personal update
  README.md
Due: none

Path conditions:
  go-lint: any of: **/*.go
  frontend-lint: any of: **/*.{js,jsx,ts,tsx} and ^web/frontend/
  frontend-type-check: any of: **/*.{ts,tsx} and ^web/frontend/
