Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "**/*.go"
      run: golangci-lint run ./...

    frontend-lint:
      root: "web/frontend/"
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files}

    frontend-type-check:
      root: "web/frontend/"
      glob: "**/*.{ts,tsx}"
      run: npm run type-check

Document completed API contract
  docs/api/deferred-work.md
  docs/api/openapi.json
  internal/api/route_contract_test.go
Due: go-lint

Harden API retry and event streaming behavior
  internal/api/events_handlers.go
  internal/api/events_test.go
  internal/api/idempotency.go
  internal/api/idempotency_test.go
  internal/api/router.go
Due: go-lint

Clean up API async import tests
  internal/api/auth_test.go
  internal/api/file_handlers.go
  internal/api/files_test.go
  internal/api/router.go
Due: go-lint

Use high upload request cap
  internal/api/file_handlers.go
  internal/api/files_test.go
  internal/api/response_models.go
  internal/api/router.go
Due: go-lint

Remove multi-track backend code
  cmd/server/main.go
  internal/audio/aup_parser.go
  internal/audio/merger.go
  internal/database/database_test.go
  internal/database/legacy.go
  internal/database/migrate.go
  internal/database/schema.go
  internal/database/steps.go
  internal/dropzone/dropzone.go
  internal/interfaces/processor.go
  internal/models/transcription.go
  internal/processing/multitrack_processor.go
  internal/queue/queue.go
  internal/repository/implementations.go
  internal/transcription/adapters_test.go
  internal/transcription/multitrack_transcriber.go
  internal/transcription/queue_integration.go
  internal/transcription/unified_service.go
  tests/database_test.go
  tests/test_helpers.go
Due: go-lint

Avoid buffering idempotent uploads
  internal/api/idempotency.go
  internal/api/idempotency_test.go
Due: go-lint

Keep profile reads side-effect free
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
Due: go-lint

Avoid SSE unsubscribe send races
  internal/api/events_handlers.go
  internal/api/events_test.go
Due: go-lint

Implement file status filtering
  docs/api/openapi.json
  internal/api/file_handlers.go
  internal/api/files_test.go
  internal/api/response_models.go
Due: go-lint

Validate transcription profile references
  internal/api/transcription_handlers.go
  internal/api/transcriptions_test.go
Due: go-lint

docs: plan engine worker integration sprints
  devnotes/engine-worker-sprint-0-inventory.md
  devnotes/engine-worker-sprints.md
Due: none

feat: add engine worker configuration
  cmd/server/main.go
  devnotes/engine-worker-sprint-tracker.md
  go.mod
  internal/config/config.go
  internal/config/config_test.go
Due: go-lint

feat: add local engine provider boundary
  devnotes/engine-worker-sprint-tracker.md
  go.mod
  go.sum
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/registry.go
  internal/transcription/engineprovider/registry_test.go
  internal/transcription/engineprovider/sanitize.go
  internal/transcription/engineprovider/types.go
Due: go-lint

feat: add durable transcription job claims
  devnotes/engine-worker-sprint-tracker.md
  internal/database/schema.go
  internal/models/transcription.go
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
  internal/transcription/adapters_test.go
  tests/test_helpers.go
Due: go-lint

feat: add durable transcription worker service
  devnotes/engine-worker-sprint-tracker.md
  internal/repository/implementations.go
  internal/transcription/adapters_test.go
  internal/transcription/worker/service.go
  internal/transcription/worker/service_test.go
  tests/test_helpers.go
Due: go-lint

feat: add transcription orchestrator
  devnotes/engine-worker-sprint-tracker.md
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/orchestrator/transcript.go
  internal/transcription/orchestrator/transcript_test.go
Due: go-lint

feat: wire transcription API to worker services
  devnotes/engine-worker-sprint-tracker.md
  internal/api/admin_handlers.go
  internal/api/auth_test.go
  internal/api/engine_worker_api_test.go
  internal/api/profile_settings_test.go
  internal/api/response_models.go
  internal/api/router.go
  internal/api/router_test.go
  internal/api/transcription_handlers.go
Due: go-lint

feat: start engine worker runtime
  cmd/server/main.go
  cmd/server/main_test.go
  devnotes/engine-worker-sprint-tracker.md
  internal/transcription/adapters/base_adapter.go
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/doc.go
  internal/transcription/adapters/openai_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
  internal/transcription/adapters/voxtral_adapter.go
  internal/transcription/adapters/whisperx_adapter.go
  internal/transcription/adapters_test.go
  internal/transcription/doc.go
  internal/transcription/pipeline/doc.go
  internal/transcription/pipeline/pipeline.go
  internal/transcription/queue_integration.go
  internal/transcription/quick_transcription.go
  internal/transcription/registry/doc.go
  internal/transcription/registry/registry.go
  internal/transcription/unified_service.go
  internal/transcription/webhook_integration_test.go
  internal/transcription/worker/service_test.go
  tests/adapter_registration_test.go
Due: go-lint

test: add real engine smoke coverage
  devnotes/engine-worker-sprint-8-smoke.md
  devnotes/engine-worker-sprint-tracker.md
  internal/transcription/engineprovider/real_engine_integration_test.go
Due: go-lint

docs: harden engine worker setup guidance
  Dockerfile
  Dockerfile.cuda
  Dockerfile.cuda.12.9
  README.md
  devnotes/engine-worker-sprint-tracker.md
  docker-compose.blackwell.yml
  docker-compose.build.blackwell.yml
  docker-compose.build.cuda.yml
  docker-compose.build.yml
  docker-compose.cuda.yml
  docker-compose.yml
  internal/transcription/README.md
Due: none

revert: defer docker setup updates
  Dockerfile
  Dockerfile.cuda
  Dockerfile.cuda.12.9
  README.md
  devnotes/engine-worker-sprint-tracker.md
  docker-compose.blackwell.yml
  docker-compose.build.blackwell.yml
  docker-compose.build.cuda.yml
  docker-compose.build.yml
  docker-compose.cuda.yml
  docker-compose.yml
Due: none

fix: harden transcription API queue flow
  internal/api/engine_worker_api_test.go
  internal/api/events_test.go
  internal/api/router.go
  internal/api/transcription_handlers.go
  internal/api/transcriptions_test.go
  internal/api/types.go
Due: go-lint

fix: harden engine worker public errors
  internal/api/admin_handlers.go
  internal/api/engine_worker_api_test.go
  internal/api/response_models.go
  internal/api/transcription_handlers.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
Due: go-lint

docs: finalize engine worker sprint tracker
  devnotes/engine-worker-sprint-tracker.md
Due: none

fix: quiet empty transcription queue polls
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
Due: go-lint

meh
  devnotes/engine-worker-sprints.md
Due: none

Add frontend design foundation
  devnotes/brand-orange-palette.md
  web/frontend/public/logo-text.svg
  web/frontend/public/logo.svg
  web/frontend/src/index.css
  web/frontend/src/shared/ui/Button.tsx
  web/frontend/src/shared/ui/EmptyState.tsx
  web/frontend/src/shared/ui/Field.tsx
  web/frontend/src/styles/design-system.css
  web/frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

Wire auth screens to canonical API
  web/frontend/src/components/ProtectedRoute.tsx
  web/frontend/src/features/auth/api/authApi.ts
  web/frontend/src/features/auth/components/Login.tsx
  web/frontend/src/features/auth/components/Register.tsx
  web/frontend/src/features/auth/hooks/useAuth.ts
  web/frontend/src/features/auth/store/authStore.ts
  web/frontend/src/lib/authHelpers.ts
Due: frontend-lint, frontend-type-check

Add sidebar home mockup
  web/frontend/src/App.tsx
  web/frontend/src/features/home/components/HomePage.tsx
Due: frontend-lint, frontend-type-check

Proxy frontend dev server through backend
  Makefile
  internal/web/static.go
Due: go-lint

Reuse existing Vite dev server
  Makefile
Due: none

Enable Vite proxy for Air runs
  .air.toml
  internal/web/static.go
Due: go-lint

Simplify dev server workflow
  .air.toml
  Makefile
  internal/web/static.go
  web/frontend/src/main.tsx
Due: go-lint, frontend-lint, frontend-type-check

Refine compact home layout
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Tune recording list spacing
  web/frontend/src/styles/design-system.css
Due: none

Add recording card hover actions
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Add background video audio extraction
  internal/api/file_handlers.go
  internal/api/files_test.go
  internal/api/media_extractor.go
  internal/api/response_models.go
  internal/api/router.go
Due: go-lint

Wire frontend file import flow
  web/frontend/src/features/files/api/filesApi.ts
  web/frontend/src/features/files/components/UploadProgressShelf.tsx
  web/frontend/src/features/files/hooks/useFileEvents.ts
  web/frontend/src/features/files/hooks/useFileImport.ts
  web/frontend/src/features/files/hooks/useFiles.ts
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Polish app button interactions
  web/frontend/src/styles/design-system.css
Due: none

Harden shared button defaults
  web/frontend/src/shared/ui/Button.tsx
Due: frontend-lint, frontend-type-check
