Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

go-lint:
  run: golangci-lint run ./...

frontend-lint:
  run: npx eslint {staged_files}

frontend-type-check:
  run: npm run type-check

style: space audio detail tags
  web/frontend/src/styles/design-system.css
Due: none

Fix transcript selection across segments
  web/frontend/src/features/transcription/hooks/useTranscriptTextSelection.ts
Due: frontend-lint, frontend-type-check

feat: add recording backend foundation
  cmd/server/main.go
  devnotes/v2.0.0/sprint-plans/in-app-audio-recording-backend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-backend-sprint-tracker.md
  internal/config/config.go
  internal/config/config_test.go
  internal/database/database_test.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/recording.go
  internal/recording/storage.go
  internal/recording/storage_test.go
Due: go-lint

feat: add recording service state machine
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-backend-sprint-tracker.md
  internal/recording/service.go
  internal/recording/service_test.go
  internal/recording/storage.go
  internal/repository/recording_repository.go
  internal/repository/recording_repository_test.go
Due: go-lint

feat: expose recording session api
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-backend-sprint-tracker.md
  docs/api/openapi.json
  internal/api/auth_test.go
  internal/api/middleware.go
  internal/api/recording_handlers.go
  internal/api/recording_handlers_test.go
  internal/api/response_models.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/types.go
Due: go-lint

feat: finalize recording sessions
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-backend-sprint-tracker.md
  internal/api/events_handlers.go
  internal/api/recording_handlers.go
  internal/api/router.go
  internal/recording/finalizer.go
  internal/recording/finalizer_test.go
  internal/recording/storage.go
  internal/repository/implementations.go
  internal/repository/recording_repository.go
Due: go-lint

feat: harden recording recovery and cleanup
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-backend-sprint-tracker.md
  internal/config/config.go
  internal/config/config_test.go
  internal/database/database_test.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/recording.go
  internal/recording/finalizer.go
  internal/recording/finalizer_test.go
  internal/recording/service.go
  internal/recording/service_test.go
  internal/repository/recording_repository.go
  internal/repository/recording_repository_test.go
Due: go-lint

test: harden recording backend contracts
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-backend-sprint-tracker.md
  internal/api/recording_handlers.go
  internal/api/recording_handlers_test.go
  internal/api/route_contract_test.go
  internal/recording/service.go
  internal/recording/storage_test.go
  internal/repository/recording_repository_test.go
Due: go-lint

Add frontend recording API foundation
  devnotes/v2.0.0/sprint-plans/in-app-audio-recording-frontend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-frontend-sprint-tracker.md
  web/frontend/src/features/recording/api/recordingsApi.ts
  web/frontend/src/features/recording/hooks/useRecordingEvents.ts
  web/frontend/src/features/recording/hooks/useRecordingSession.ts
Due: frontend-lint, frontend-type-check

Add browser recording engine
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-frontend-sprint-tracker.md
  web/frontend/src/features/recording/hooks/useBrowserRecorder.ts
  web/frontend/src/features/recording/utils/mediaRecorderSupport.ts
  web/frontend/src/features/recording/utils/recordingDuration.ts
Due: frontend-lint, frontend-type-check

Add recording dialog entry point
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-frontend-sprint-tracker.md
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/recording/components/RecordingDialog.tsx
  web/frontend/src/features/recording/hooks/useBrowserRecorder.ts
Due: frontend-lint, frontend-type-check

Persist recorder across routes
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-frontend-sprint-tracker.md
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/recording/components/RecordingProvider.tsx
  web/frontend/src/features/recording/components/RecordingSidebarItem.tsx
  web/frontend/src/main.tsx
Due: frontend-lint, frontend-type-check

Show active recordings in home list
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-frontend-sprint-tracker.md
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/recording/components/RecordingProvider.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Document recording QA results
  devnotes/v2.0.0/sprint-trackers/in-app-audio-recording-frontend-sprint-tracker.md
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/recording/components/RecordingProvider.tsx
  web/frontend/src/features/recording/hooks/useRecordingController.ts
Due: frontend-lint, frontend-type-check

Add recording input device picker
  web/frontend/src/features/recording/components/RecordingDialog.tsx
  web/frontend/src/features/recording/hooks/useBrowserRecorder.ts
Due: frontend-lint, frontend-type-check

Polish recording dialog lifecycle
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/recording/components/RecordingDialog.tsx
  web/frontend/src/features/recording/components/RecordingProvider.tsx
  web/frontend/src/features/recording/components/RecordingSidebarItem.tsx
  web/frontend/src/features/recording/hooks/useBrowserRecorder.ts
  web/frontend/src/features/recording/hooks/useRecordingController.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Add recorder pulse visualizer
  web/frontend/src/features/recording/components/RecordingDialog.tsx
  web/frontend/src/features/recording/components/RecordingPulseField.tsx
  web/frontend/src/features/recording/hooks/useBrowserRecorder.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Refine recorder halftone visualizer
  web/frontend/src/features/recording/components/RecordingPulseField.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Add recorder lattice distortion visualizer
  web/frontend/src/features/recording/components/RecordingPulseField.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Polish recorder lattice motion
  web/frontend/src/features/recording/components/RecordingPulseField.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Bind frontend dev server to all interfaces
  web/frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

Document backend service boundary sprint 0
  devnotes/v2.0.0/sprint-plans/backend-service-boundary-refactor-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-00-inventory.md
  internal/api/architecture_test.go
Due: go-lint

Inject API handler dependencies explicitly
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-01-composition-notes.md
  internal/api/architecture_test.go
  internal/api/auth_test.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/router_test.go
Due: go-lint

Move account settings behind service
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-02-account-settings-notes.md
  internal/account/service.go
  internal/api/api_key_handlers.go
  internal/api/architecture_test.go
  internal/api/auth_handlers.go
  internal/api/auth_test.go
  internal/api/middleware.go
  internal/api/profile_settings_test.go
  internal/api/response_models.go
  internal/api/router.go
  internal/api/settings_handlers.go
  internal/api/types.go
  internal/models/auth.go
  internal/repository/implementations.go
Due: go-lint

Move profile llm settings behind services
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-03-profile-llm-notes.md
  internal/api/architecture_test.go
  internal/api/auth_test.go
  internal/api/llm_provider_handlers.go
  internal/api/profile_handlers.go
  internal/api/recording_handlers.go
  internal/api/router.go
  internal/llmprovider/service.go
  internal/profile/service.go
  internal/repository/implementations.go
Due: go-lint

Move file routes behind service boundary
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-04-file-service-notes.md
  internal/api/architecture_test.go
  internal/api/auth_test.go
  internal/api/file_handlers.go
  internal/api/files_test.go
  internal/api/router.go
  internal/api/transcription_handlers.go
  internal/files/service.go
  internal/mediaimport/youtube.go
  internal/repository/implementations.go
Due: go-lint

Route file readiness through shared handoff
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-04-file-service-notes.md
  internal/api/router.go
  internal/files/service.go
  internal/mediaimport/youtube.go
  internal/recording/finalizer.go
Due: go-lint

Move transcription commands behind service boundary
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-05-transcription-notes.md
  internal/api/architecture_test.go
  internal/api/auth_test.go
  internal/api/router.go
  internal/api/transcription_handlers.go
  internal/repository/implementations.go
  internal/transcription/service.go
Due: go-lint

Add post-file automation service
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-06-automation-notes.md
  internal/api/auth_test.go
  internal/api/engine_worker_api_test.go
  internal/api/files_test.go
  internal/automation/post_file_service.go
  internal/automation/post_file_service_test.go
  internal/files/service.go
  internal/repository/implementations.go
  internal/summarization/service.go
  internal/summarization/service_test.go
  internal/transcription/service.go
Due: go-lint

Remove remaining API database access
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-service-boundary-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-service-boundary-sprint-07-final-notes.md
  internal/api/admin_handlers.go
  internal/api/architecture_test.go
  internal/api/auth_test.go
  internal/api/chat_handlers.go
  internal/api/router.go
  internal/api/summary_handlers.go
  internal/api/summary_widget_handlers.go
  internal/chat/service.go
  internal/summarization/service.go
  internal/transcription/service.go
Due: go-lint

backend: establish architecture refactor baseline
  devnotes/v2.0.0/architecture-design.md
  devnotes/v2.0.0/backend-rules.md
  devnotes/v2.0.0/sprint-plans/backend-architecture-refactor-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-00-baseline.md
  internal/api/architecture_test.go
Due: go-lint

backend: harden api dto boundary
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-01-api-dto-boundary.md
  internal/api/file_handlers.go
  internal/api/profile_handlers.go
  internal/api/recording_handlers.go
  internal/api/response_models.go
  internal/api/response_models_test.go
  internal/api/settings_handlers.go
  internal/api/summary_handlers.go
  internal/api/transcription_handlers.go
Due: go-lint

backend: consolidate transcript artifact storage
  cmd/server/main.go
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-02-storage-boundary.md
  internal/transcription/orchestrator/artifact_store.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

backend: narrow repository service ports
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-03-repository-ports.md
  internal/automation/post_file_service.go
  internal/automation/post_file_service_test.go
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
  internal/transcription/service.go
Due: go-lint

backend: prepare queue fairness and performance
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-04-queue-performance.md
  internal/database/schema.go
  internal/models/transcription.go
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
Due: go-lint

backend: add provider capability selection
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-05-provider-selection.md
  internal/transcription/engineprovider/registry.go
  internal/transcription/engineprovider/registry_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

backend: harden event boundary
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-06-event-boundary.md
  internal/api/events_handlers.go
  internal/api/events_test.go
Due: go-lint

backend: extract app bootstrap
  cmd/server/main.go
  cmd/server/main_test.go
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-07-bootstrap.md
  internal/app/app.go
  internal/app/app_test.go
Due: go-lint

backend: finalize architecture refactor gates
  devnotes/v2.0.0/architecture-design.md
  devnotes/v2.0.0/backend-rules.md
  devnotes/v2.0.0/rules/backend-architecture-rules.md
  devnotes/v2.0.0/sprint-trackers/backend-architecture-refactor-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-refactor-sprint-08-final.md
  internal/api/architecture_test.go
  internal/dropzone/dropzone.go
  internal/interfaces/auth.go
  internal/interfaces/processor.go
  internal/interfaces/queue.go
  internal/service/file_service.go
  internal/service/user_service.go
Due: go-lint

Path conditions:
  go-lint: any of: **/*.go
  frontend-lint: any of: **/*.{js,jsx,ts,tsx} and ^web/frontend/
  frontend-type-check: any of: **/*.{ts,tsx} and ^web/frontend/
