Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "**/*.go"
      run: golangci-lint run ./...

    frontend-lint:
      root: "web/frontend/"
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files}

    frontend-type-check:
      root: "web/frontend/"
      glob: "**/*.{ts,tsx}"
      run: npm run type-check

frontend: add general settings controls
  web/frontend/src/features/settings/api/generalSettingsApi.ts
  web/frontend/src/features/settings/components/GeneralSettingsPanel.tsx
  web/frontend/src/features/settings/hooks/useGeneralSettings.ts
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

backend: default automation settings on
  internal/account/service.go
  internal/api/profile_settings_test.go
  internal/models/auth.go
Due: go-lint

Update architecture spec
  devnotes/v2.0.0/rules/backend-architecture-rules.md
  devnotes/v2.0.0/rules/backend-rules.md
  devnotes/v2.0.0/specs/architecture-design.md
Due: none

Add summary descriptions and empty state wrapper
  internal/summarization/service.go
  web/frontend/src/features/home/components/HomePage.tsx
Due: go-lint, frontend-lint, frontend-type-check

Plan multi-user backend support
  devnotes/v2.0.0/rules/backend-rules.md
  devnotes/v2.0.0/specs/architecture-design.md
  devnotes/v2.0.0/specs/multi-user-support-spec.md
Due: none

backend: plan architecture review remediation
  devnotes/v2.0.0/sprint-plans/backend-architecture-review-remediation-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-code-review-2026-05-03.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-00-baseline.md
Due: none

backend: enforce admin authorization
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-01-admin-auth.md
  internal/api/auth_handlers.go
  internal/api/middleware.go
  internal/api/principal_test.go
  internal/api/router.go
  internal/api/security_regression_test.go
  internal/auth/auth.go
Due: go-lint

backend: scope sse events by user
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-02-user-scoped-events.md
  internal/api/auth_test.go
  internal/api/events_handlers.go
  internal/api/events_test.go
  internal/api/llm_provider_handlers.go
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/api/router.go
  internal/api/settings_handlers.go
  internal/api/summary_widget_handlers.go
  internal/api/transcription_handlers.go
  internal/automation/post_file_service.go
  internal/files/service.go
  internal/mediaimport/youtube.go
  internal/recording/finalizer.go
  internal/summarization/service.go
Due: go-lint

backend: move llm provider probing out of api
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-03-llm-provider-boundary.md
  internal/api/architecture_test.go
  internal/api/auth_test.go
  internal/api/llm_provider_handlers.go
  internal/app/app.go
  internal/llmprovider/http_tester.go
  internal/llmprovider/http_tester_test.go
Due: go-lint

backend: protect llm provider credentials
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-04-llm-secrets.md
  internal/api/auth_test.go
  internal/api/llm_provider_handlers_test.go
  internal/app/app.go
  internal/config/config.go
  internal/llmprovider/protected_repository.go
  internal/llmprovider/protected_repository_test.go
Due: go-lint

backend: enforce queue lease ownership
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-05-queue-leases.md
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/worker/service.go
Due: go-lint

backend: move chat generation into service
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-06-chat-service.md
  internal/api/architecture_test.go
  internal/api/chat_handlers.go
  internal/api/chat_handlers_test.go
  internal/api/router.go
  internal/chat/generation.go
  internal/chat/generation_service_test.go
  internal/chat/llm_client.go
  internal/chat/service.go
Due: go-lint

backend: quarantine legacy repository paths
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-07-repository-legacy.md
  internal/api/architecture_test.go
  internal/queue/proc_kill_darwin.go
  internal/queue/proc_kill_linux.go
  internal/queue/proc_kill_windows.go
  internal/queue/queue.go
  internal/queue/queue_test.go
  internal/summarization/service.go
  internal/transcription/worker/service.go
Due: go-lint

backend: finalize architecture review remediation
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-08-final.md
  internal/api/architecture_test.go
  internal/api/profile_settings_test.go
Due: go-lint

backend: plan follow-up architecture remediation
  devnotes/v2.0.0/sprint-plans/backend-architecture-review-remediation-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
Due: none

backend: enforce user account status
  internal/account/service.go
  internal/api/auth_test.go
  internal/api/middleware.go
  internal/database/database_test.go
  internal/models/auth.go
  internal/repository/implementations.go
Due: go-lint

backend: document user status remediation
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-09-user-status.md
Due: none

backend: add admin user management
  internal/admin/service.go
  internal/api/admin_handlers.go
  internal/api/admin_user_handlers_test.go
  internal/api/auth_test.go
  internal/api/middleware.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/types.go
  internal/app/app.go
  internal/repository/implementations.go
Due: go-lint

backend: document admin user remediation
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-10-admin-users.md
Due: none

backend: move user settings to relational table
  internal/account/service.go
  internal/api/auth_test.go
  internal/api/profile_settings_test.go
  internal/app/app.go
  internal/database/database_test.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/auth.go
  internal/repository/implementations.go
Due: go-lint

backend: document user settings remediation
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-11-user-settings.md
Due: none

backend: add scheduler system settings
  internal/admin/service.go
  internal/admin/service_test.go
  internal/api/admin_handlers.go
  internal/api/admin_scheduler_handlers_test.go
  internal/api/auth_test.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/types.go
  internal/app/app.go
  internal/database/database_test.go
  internal/database/legacy.go
  internal/database/migrate.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/system_setting.go
  internal/repository/implementations.go
  internal/repository/system_settings_repository_test.go
  internal/transcription/scheduler/config.go
  internal/transcription/scheduler/config_test.go
Due: go-lint

backend: document scheduler settings remediation
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-12-scheduler-settings.md
Due: none

backend: configure shared queue scheduler
  internal/api/admin_handlers.go
  internal/api/admin_queue_handlers_test.go
  internal/api/engine_worker_api_test.go
  internal/api/types.go
  internal/app/app.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/queue.go
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
  internal/transcription/scheduler/config.go
  internal/transcription/scheduler/config_test.go
  internal/transcription/service.go
  internal/transcription/worker/service.go
  internal/transcription/worker/service_test.go
Due: go-lint

backend: document queue scheduler remediation
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-13-queue-scheduler.md
Due: none

backend: keep file metadata behind service boundary
  internal/api/architecture_test.go
  internal/api/file_handlers.go
  internal/api/files_test.go
  internal/api/response_models.go
  internal/api/response_models_test.go
  internal/api/transcription_handlers.go
  internal/files/metadata_test.go
  internal/files/service.go
Due: go-lint

backend: document file metadata boundary remediation
  devnotes/v2.0.0/sprint-trackers/backend-architecture-review-remediation-sprint-tracker.md
  devnotes/v2.0.0/status-updates/backend-architecture-review-remediation-sprint-14-file-metadata-boundary.md
Due: none

backend: preserve canceled auth responses
  internal/api/middleware.go
Due: go-lint

backend: harden file service boundaries
  internal/api/auth_test.go
  internal/app/app.go
  internal/files/service.go
  internal/transcription/service.go
Due: go-lint

backend: remove API query and media adapter leftovers
  internal/api/list_query.go
  internal/api/media_extractor.go
Due: go-lint

backend: require media import upload root
  internal/mediaimport/youtube.go
Due: go-lint

backend: scope queue cancel job lookup
  internal/transcription/worker/service.go
Due: go-lint

backend: keep transcription artifacts behind storage
  internal/api/auth_test.go
  internal/app/app.go
  internal/transcription/orchestrator/artifact_store.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/service.go
Due: go-lint

backend: map chat misses to domain errors
  internal/api/chat_handlers.go
  internal/api/recording_handlers.go
  internal/chat/generation.go
  internal/chat/service.go
Due: go-lint

backend: remove legacy SSE broadcaster
  internal/sse/broadcaster.go
  internal/sse/broadcaster_test.go
Due: go-lint

backend: require explicit user ownership
  internal/database/schema.go
  internal/models/annotation.go
  internal/models/chat.go
  internal/models/ownership.go
  internal/models/persistence.go
  internal/models/recording.go
  internal/models/summary.go
  internal/models/tag.go
  internal/models/transcription.go
Due: go-lint

backend: scope automation ready file lookup
  internal/automation/post_file_service.go
  internal/automation/post_file_service_test.go
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
Due: go-lint

backend: remove legacy job repository surface
  internal/repository/implementations.go
Due: go-lint

backend: preserve scoped repository capabilities
  internal/api/engine_worker_api_test.go
  internal/repository/implementations.go
Due: go-lint

backend: move chat title generation into service
  internal/api/chat_handlers.go
  internal/chat/service.go
Due: go-lint
