Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "**/*.go"
      run: golangci-lint run ./...

    frontend-lint:
      root: "web/frontend/"
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files}

    frontend-type-check:
      root: "web/frontend/"
      glob: "**/*.{ts,tsx}"
      run: npm run type-check

Rename whisperx params and update model env
  README.md
  cmd/server/main.go
  internal/api/handlers.go
  internal/config/config.go
  internal/models/transcription.go
  internal/transcription/adapters/py/README.md
  internal/transcription/adapters/py/nvidia/tests/test_sortformer_diarize.py
  internal/transcription/adapters/py/pyannote/tests/test_pyannote_diarize.py
  internal/transcription/adapters_test.go
  internal/transcription/multitrack_transcriber.go
  internal/transcription/quick_transcription.go
  internal/transcription/unified_service.go
  internal/transcription/webhook_integration_test.go
  web/frontend/src/components/TranscribeDDialog.tsx
  web/frontend/src/components/TranscriptionConfigDialog.tsx
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
  web/frontend/src/features/settings/components/ProfileSettings.tsx
  web/frontend/src/features/settings/components/ProfilesTable.tsx
  web/frontend/src/features/transcription/components/AudioFilesTable.tsx
  web/project-site/src/docs/Installation.mdx
Due: go-lint, frontend-lint, frontend-type-check

Ignore local reference data
  .gitignore
Due: none

Add CPU diarization tuning defaults and UI controls
  asr-engines/scriberr-diariz-torch/src/diar_engine/backend.py
  asr-engines/scriberr-diariz-torch/src/diar_engine/params.py
  internal/models/transcription.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/unified_service.go
  scripts/debug_diarization_clip.py
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

Add diarization perf presets and system info
  .air.toml
  asr-engines/scriberr-diariz-torch/src/diar_engine/params.py
  internal/api/handlers.go
  internal/models/transcription.go
  internal/systeminfo/memory_darwin.go
  internal/systeminfo/memory_linux.go
  internal/systeminfo/memory_other.go
  internal/systeminfo/memory_windows.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/unified_service.go
  scripts/debug_diarization_clip.py
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

Remove Voxtral and fix PWA build
  Makefile
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
  cmd/server/main.go
  internal/config/config.go
  internal/models/transcription.go
  internal/transcription/adapters/base_adapter.go
  internal/transcription/adapters/py/README.md
  internal/transcription/adapters/py/voxtral/pyproject.toml
  internal/transcription/adapters/py/voxtral/voxtral_transcribe.py
  internal/transcription/adapters/py/voxtral/voxtral_transcribe_buffered.py
  internal/transcription/adapters/voxtral_adapter.go
  internal/transcription/adapters_test.go
  internal/transcription/unified_service.go
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
  web/frontend/src/sw.ts
  web/frontend/vite.config.ts
  web/project-site/public/api/swagger.json
  web/project-site/public/api/undocumented.json
Due: go-lint, frontend-lint, frontend-type-check

cleanup
  Makefile
  scripts/dev_init.sh
  scripts/dev_setup_asr_engine.sh
  scripts/dev_setup_diar_engine.sh
Due: none

Update ASR chunking and Parakeet config
  Makefile
  asr-engines/scriberr-asr-onnx/Makefile
  asr-engines/scriberr-asr-onnx/README.md
  asr-engines/scriberr-asr-onnx/pyproject.toml
  asr-engines/scriberr-asr-onnx/src/asr_engine/backend.py
  asr-engines/scriberr-asr-onnx/src/asr_engine/model_manager.py
  asr-engines/scriberr-asr-onnx/src/asr_engine/params.py
  asr-engines/scriberr-asr-onnx/src/asr_engine/timestamps.py
  asr-engines/scriberr-asr-onnx/uv.lock
  asr-engines/scriberr-diariz-torch/Makefile
  asr-engines/scriberr-diariz-torch/README.md
  asr-engines/scriberr-diariz-torch/pyproject.toml
  asr-engines/scriberr-diariz-torch/uv.lock
  internal/asrengine/manager.go
  internal/diarengine/manager.go
  internal/transcription/adapters/asr_engine_params.go
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
  internal/transcription/adapters/whisper_adapter.go
  scripts/dev_init.sh
  scripts/dev_setup_asr_engine.sh
  scripts/dev_setup_diar_engine.sh
  web/frontend/package-lock.json
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/ExecutionInfoDialog.tsx
  web/frontend/vite.config.ts
Due: go-lint, frontend-lint, frontend-type-check

Ignore local sanity files and enable Sortformer GPU
  .gitignore
  asr-engines/scriberr-diariz-torch/src/diar_engine/model_manager.py
Due: none

Fix sortformer model and add hf_token diagnostics
  asr-engines/scriberr-diariz-torch/src/diar_engine/model_manager.py
  internal/api/handlers.go
  internal/transcription/adapters/sortformer_adapter.go
  internal/transcription/unified_service.go
  web/frontend/src/features/transcription/components/AudioFilesTable.tsx
Due: go-lint, frontend-lint, frontend-type-check

Fix word timestamp offsets and karaoke highlight
  Makefile
  asr-engines/scriberr-asr-onnx/src/asr_engine/backend.py
  asr-engines/scriberr-asr-onnx/src/asr_engine/timestamps.py
  asr-engines/scriberr-asr-onnx/tests/unit/test_timestamps.py
  internal/transcription/unified_service.go
  web/frontend/src/features/transcription/hooks/useKaraokeHighlight.ts
Due: go-lint, frontend-lint, frontend-type-check

Revamp Docker packaging and env setup
  Dockerfile
  Dockerfile.cuda
  Dockerfile.cuda.12.9
  docker-compose.blackwell.yml
  docker-compose.build.blackwell.yml
  docker-compose.build.cuda.yml
  docker-compose.build.yml
  docker-compose.cuda.yml
  docker-compose.yml
  docker-entrypoint.sh
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: frontend-lint, frontend-type-check

add pipeline status endpoint and expose in UI
  internal/api/handlers.go
  internal/api/router.go
  internal/models/transcription.go
  internal/repository/implementations.go
  internal/transcription/adapters_test.go
  internal/transcription/unified_service.go
  tests/test_helpers.go
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/AudioFilesTable.tsx
  web/frontend/src/features/transcription/hooks/useAudioDetail.ts
  web/frontend/src/features/transcription/hooks/useAudioFiles.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionEvents.ts
Due: go-lint, frontend-lint, frontend-type-check

feat: add self-contained Electron macOS packaging flow
  .gitignore
  Makefile
  desktop/electron/.gitignore
  desktop/electron/README.md
  desktop/electron/package-lock.json
  desktop/electron/package.json
  desktop/electron/src/main.ts
  desktop/electron/src/preload.ts
  desktop/electron/tsconfig.json
  internal/api/handlers.go
  internal/audio/merger.go
  internal/transcription/adapters/base_adapter.go
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
  internal/transcription/adapters/voxtral_adapter.go
  internal/transcription/adapters/whisperx_adapter.go
  internal/transcription/pipeline/pipeline.go
  internal/transcription/unified_service.go
  pkg/binaries/binaries.go
  plans/macos-desktop-app-plan.md
  scripts/build-desktop-backend.sh
  scripts/prepare-desktop-tools.sh
Due: go-lint

Getting number of threads for WhisperX from WHX_THREADS env variable
  internal/transcription/unified_service.go
Due: go-lint

Renamed to WHX_NUM_THREADS to comply with MKL_NUM_THREADS, OMP_NUM_THREADS
  internal/transcription/unified_service.go
Due: go-lint

Fix desktop startup blocking model init and improve transcription env setup
  cmd/server/main.go
  desktop/electron/src/main.ts
  internal/api/handlers.go
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/py/nvidia/pyproject.toml
  internal/transcription/adapters/sortformer_adapter.go
  internal/transcription/adapters/whisperx_adapter.go
  internal/transcription/quick_transcription.go
  internal/transcription/unified_service.go
Due: go-lint

fix: pin torchcodec to 0.7.x for compatibility with PyTorch 2.8.x
  internal/transcription/adapters/whisperx_adapter.go
Due: go-lint

fix(auth): prevent infinite fetch recursion and multiple wrapper layers
  web/frontend/src/features/auth/hooks/useAuth.ts
Due: frontend-lint, frontend-type-check

fix the 'any's
  web/frontend/src/features/auth/hooks/useAuth.ts
Due: frontend-lint, frontend-type-check

feat: add speaker identification toggle to summary templates
  internal/api/summary_handlers.go
  internal/models/summary.go
  web/frontend/src/features/settings/components/SummaryTemplateDialog.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/features/transcription/components/audio-detail/SummaryDialog.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionSummary.ts
Due: go-lint, frontend-lint, frontend-type-check

docs: regenerate swagger docs for speaker identification toggle
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
  web/project-site/public/api/swagger.json
Due: go-lint

fix: voxtral duration comparison and "auto" language handling - use shared LANGUAGES constant in frontend config dialog
  internal/transcription/adapters/voxtral_adapter.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

chore: QoL updates, port fixes, and developer docs
  agent_notes.md
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
  docker-compose.blackwell.yml
  docker-compose.build.blackwell.yml
  docker-compose.build.cuda.yml
  docker-compose.build.yml
  docker-compose.cuda.yml
  docker-compose.yml
  optimization_report.md
  slow_env_startup.md
  web/project-site/public/api/swagger.json
Due: go-lint

feat: extract Python adapters and initialize models asynchronously
  .github/workflows/ci.yaml
  Makefile
  cmd/server/main.go
  cmd/setup-adapters/main.go
  internal/transcription/adapters/base_adapter.go
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/py/nvidia/canary_transcribe.py
  internal/transcription/adapters/py/nvidia/pyproject.toml
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/registry/registration.go
Due: go-lint

refactor(frontend): extract auth logic to helpers and interceptor
  web/frontend/src/features/auth/hooks/useAuth.ts
  web/frontend/src/lib/authHelpers.ts
  web/frontend/src/lib/authInterceptor.ts
  web/frontend/src/lib/authTypes.ts
  web/frontend/src/main.tsx
Due: frontend-lint, frontend-type-check

fix: PUID=0 PGID=0 handling
  docker-entrypoint.sh
Due: none

feat: add AMD ROCm support for RX 5700 XT (gfx1010 / RDNA 1)
  Dockerfile.rocm
  docker-compose.build.rocm.yml
  docker-compose.rocm.yml
  internal/transcription/adapters/base_adapter.go
Due: go-lint

feat: add OpenClaw profile settings and send flow
  cmd/server/main.go
  internal/api/handlers.go
  internal/api/openclaw_handlers.go
  internal/api/router.go
  internal/database/database.go
  internal/models/openclaw.go
  internal/models/transcription.go
  internal/repository/implementations.go
  internal/service/openclaw_service.go
  internal/service/openclaw_service_test.go
  tests/api_handlers_test.go
  tests/cli_handlers_test.go
  tests/database_test.go
  tests/security_test.go
  tests/test_helpers.go
  web/frontend/src/features/settings/components/OpenClawProfileSettings.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/audio-detail/SendToOpenClawDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

test(queue): add unit tests for QUEUE_WORKERS env var behavior
  internal/queue/queue_test.go
Due: go-lint

fix(queue): allow QUEUE_WORKERS env var to override hardcoded worker count
  internal/queue/queue.go
Due: go-lint

refactor(queue): use testify assertions and t.Setenv in queue tests
  internal/queue/queue_test.go
Due: go-lint

docs(queue): add comments to test functions for consistency
  internal/queue/queue_test.go
Due: go-lint

Add TODO comment to remember that this fix is really about technical debt and we should just remove the legacy workers argument entirely.
  internal/queue/queue.go
Due: go-lint

Add project status update and collaboration invitation
  README.md
Due: none

Update README with referral request and personal link
  README.md
Due: none

feat(transcription): add external Whisper API adapter
  .gitignore
  cmd/server/main.go
  internal/config/config.go
  internal/models/transcription.go
  internal/transcription/adapters/whisper_api_adapter.go
  internal/transcription/adapters_test.go
  internal/transcription/unified_service.go
  tests/adapter_registration_test.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

refactor: deduplicate TranscriptionConfigDialog with shared form helpers
  web/frontend/src/components/transcription/FormHelpers.tsx
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: frontend-lint, frontend-type-check

refactor: use shared FormHelpers in SummaryTemplateDialog
  web/frontend/src/features/settings/components/SummaryTemplateDialog.tsx
Due: frontend-lint, frontend-type-check
