Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "**/*.go"
      run: golangci-lint run ./...

    frontend-lint:
      root: "web/frontend/"
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files}

    frontend-type-check:
      root: "web/frontend/"
      glob: "**/*.{ts,tsx}"
      run: npm run type-check

Map local model descriptors from engine
  devnotes/v2.0.0/sprint-trackers/backend-engine-provider-convergence-sprint-tracker.md
  devnotes/v2.0.0/status-updates/be-eng-provider-sprint-02-descriptor-passthrough.md
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
Due: go-lint

Remove backend chunk planning
  devnotes/v2.0.0/sprint-trackers/backend-engine-provider-convergence-sprint-tracker.md
  devnotes/v2.0.0/status-updates/be-eng-provider-sprint-03-delete-backend-planner.md
  internal/transcription/orchestrator/planner.go
  internal/transcription/orchestrator/planner_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

Preserve provider result metadata
  devnotes/v2.0.0/sprint-trackers/backend-engine-provider-convergence-sprint-tracker.md
  devnotes/v2.0.0/status-updates/be-eng-provider-sprint-04-result-metrics-alignment.md
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/transcript.go
  internal/transcription/orchestrator/transcript_test.go
Due: go-lint

Streamline profile provider parameters
  devnotes/v2.0.0/sprint-trackers/backend-engine-provider-convergence-sprint-tracker.md
  devnotes/v2.0.0/status-updates/be-eng-provider-sprint-05-profile-parameter-cleanup.md
  internal/api/files_test.go
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/api/response_models.go
  internal/api/transcriptions_test.go
  internal/api/types.go
  internal/database/database_test.go
  internal/models/transcription.go
  internal/profile/service.go
  internal/profile/service_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

Slim engine provider interfaces
  devnotes/v2.0.0/sprint-trackers/backend-engine-provider-convergence-sprint-tracker.md
  devnotes/v2.0.0/status-updates/be-eng-provider-sprint-06-provider-interface-slimming.md
  internal/api/engine_worker_api_test.go
  internal/app/app_test.go
  internal/transcription/engineprovider/contracttest/provider_contract.go
  internal/transcription/engineprovider/contracttest/provider_contract_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/registry.go
  internal/transcription/engineprovider/registry_test.go
  internal/transcription/engineprovider/remote/client.go
  internal/transcription/engineprovider/remote/client_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

Document final provider architecture guardrails
  devnotes/v2.0.0/specs/asr-provider-author-guide.md
  devnotes/v2.0.0/specs/asr-provider-backend-architecture.md
  devnotes/v2.0.0/sprint-trackers/backend-engine-provider-convergence-sprint-tracker.md
  devnotes/v2.0.0/status-updates/be-eng-provider-sprint-07-hardening-docs.md
Due: none

Consume descriptor-first engine inventory
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
Due: go-lint

Map canonical engine diarization results
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
Due: go-lint

Align backend with generic engine status
  internal/api/asr_provider_admin_handlers.go
  internal/api/engine_worker_api_test.go
  internal/transcription/asrcontract/types.go
  internal/transcription/asrcontract/types_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/remote/client_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

Align local provider with engine descriptors
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
Due: go-lint

Streamline backend provider contract
  internal/api/admin_handlers.go
  internal/api/asr_provider_admin_handlers.go
  internal/api/auth_test.go
  internal/api/engine_worker_api_test.go
  internal/profile/model_catalog.go
  internal/profile/service.go
  internal/profile/service_test.go
  internal/recording/finalizer.go
  internal/transcription/asrcontract/types.go
  internal/transcription/asrcontract/types_test.go
  internal/transcription/engineprovider/contracttest/provider_contract_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/real_engine_integration_test.go
  internal/transcription/engineprovider/registry.go
  internal/transcription/engineprovider/registry_test.go
  internal/transcription/engineprovider/remote/client.go
  internal/transcription/engineprovider/remote/example_provider_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/service.go
Due: go-lint

Update app provider test stub
  internal/app/app_test.go
Due: go-lint

Streamline backend provider architecture
  internal/api/admin_handlers.go
  internal/api/engine_worker_api_test.go
  internal/api/profile_settings_test.go
  internal/api/transcriptions_test.go
  internal/app/app.go
  internal/app/app_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/database/database_test.go
  internal/models/transcription.go
  internal/profile/model_catalog.go
  internal/profile/service.go
  internal/profile/service_test.go
  internal/recording/finalizer.go
  internal/recording/finalizer_test.go
  internal/transcription/engineprovider/contracttest/provider_contract_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/real_engine_integration_test.go
  internal/transcription/engineprovider/registry_test.go
  internal/transcription/engineprovider/remote/client.go
  internal/transcription/engineprovider/remote/client_test.go
  internal/transcription/engineprovider/remote/example_provider_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/service.go
Due: go-lint

Fix provider default pipeline resolution
  internal/asrpipeline/pipeline.go
  internal/profile/model_catalog.go
  internal/profile/service.go
  internal/profile/service_test.go
  internal/recording/finalizer.go
  internal/recording/finalizer_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/registry.go
  internal/transcription/engineprovider/registry_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/service.go
  internal/transcription/service_defaults_test.go
Due: go-lint

Collapse provider selection to model cards
  internal/api/auth_test.go
  internal/api/engine_worker_api_test.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/registry.go
  internal/transcription/engineprovider/registry_test.go
  internal/transcription/engineprovider/remote/client_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

Add ASR provider frontend sprint plans
  devnotes/v2.0.0/sprint-plans/asr-legacy-profile-cleanup-sprint-plan.md
  devnotes/v2.0.0/sprint-plans/asr-model-catalog-endpoints-sprint-plan.md
  devnotes/v2.0.0/sprint-plans/asr-parameter-contract-sprint-plan.md
  devnotes/v2.0.0/sprint-plans/asr-profile-provider-frontend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/asr-legacy-profile-cleanup-sprint-tracker.md
  devnotes/v2.0.0/sprint-trackers/asr-model-catalog-endpoints-sprint-tracker.md
  devnotes/v2.0.0/sprint-trackers/asr-parameter-contract-sprint-tracker.md
  devnotes/v2.0.0/sprint-trackers/asr-profile-provider-frontend-sprint-tracker.md
Due: none

Add ASR model catalog endpoint
  devnotes/v2.0.0/sprint-trackers/asr-model-catalog-endpoints-sprint-tracker.md
  internal/api/admin_handlers.go
  internal/api/engine_worker_api_test.go
  internal/api/route_contract_test.go
  internal/api/router.go
Due: go-lint

Add frontend ASR model catalog hook
  devnotes/v2.0.0/sprint-trackers/asr-model-catalog-endpoints-sprint-tracker.md
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/hooks/useProfiles.ts
Due: frontend-lint, frontend-type-check

Enforce read-only ASR parameters
  devnotes/v2.0.0/sprint-trackers/asr-parameter-contract-sprint-tracker.md
  internal/profile/service_test.go
  internal/transcription/asrcontract/types.go
  internal/transcription/asrcontract/types_test.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  web/frontend/src/features/settings/api/profilesApi.ts
Due: go-lint, frontend-lint, frontend-type-check

Document ASR legacy profile cleanup map
  devnotes/v2.0.0/sprint-trackers/asr-legacy-profile-cleanup-sprint-tracker.md
Due: none

Remove legacy ASR profile API fields
  devnotes/v2.0.0/sprint-trackers/asr-legacy-profile-cleanup-sprint-tracker.md
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/api/types.go
Due: go-lint

Remove legacy ASR profile migration
  devnotes/v2.0.0/sprint-trackers/asr-legacy-profile-cleanup-sprint-tracker.md
  internal/database/database_test.go
  internal/database/legacy.go
Due: go-lint

Use pipeline-only ASR profile options in frontend
  devnotes/v2.0.0/sprint-trackers/asr-legacy-profile-cleanup-sprint-tracker.md
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
Due: frontend-lint, frontend-type-check

Close legacy ASR profile cleanup sprint
  devnotes/v2.0.0/sprint-trackers/asr-legacy-profile-cleanup-sprint-tracker.md
Due: none

Verify ASR frontend provider contracts
  devnotes/v2.0.0/sprint-trackers/asr-profile-provider-frontend-sprint-tracker.md
  internal/api/engine_worker_api_test.go
  internal/transcription/engineprovider/local_provider_test.go
Due: go-lint

Preserve ASR model cards in frontend API
  devnotes/v2.0.0/sprint-trackers/asr-profile-provider-frontend-sprint-tracker.md
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
Due: frontend-lint, frontend-type-check

Add descriptor-driven ASR parameter form
  devnotes/v2.0.0/sprint-trackers/asr-profile-provider-frontend-sprint-tracker.md
  web/frontend/src/features/settings/components/ASRParameterForm.tsx
  web/frontend/src/features/settings/components/asrParameterValues.ts
Due: frontend-lint, frontend-type-check

Render ASR profile dialog from model descriptors
  devnotes/v2.0.0/sprint-trackers/asr-profile-provider-frontend-sprint-tracker.md
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
Due: frontend-lint, frontend-type-check

Summarize ASR profiles from pipeline model cards
  devnotes/v2.0.0/sprint-trackers/asr-profile-provider-frontend-sprint-tracker.md
  web/frontend/src/features/settings/pages/SettingsPage.tsx
Due: frontend-lint, frontend-type-check

Add ASR parameter form regression coverage
  devnotes/v2.0.0/sprint-trackers/asr-profile-provider-frontend-sprint-tracker.md
  web/frontend/src/features/settings/components/asrParameterValues.regression.ts
  web/frontend/tsconfig.asr-parameter-tests.json
Due: frontend-lint, frontend-type-check

Return parameter-keyed ASR profile validation errors
  devnotes/v2.0.0/sprint-trackers/asr-provider-backend-sprint-tracker.md
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/profile/service.go
  internal/transcription/asrcontract/types.go
  internal/transcription/asrcontract/types_test.go
Due: go-lint

Complete ASR profile frontend QA sprint
  devnotes/v2.0.0/sprint-trackers/asr-profile-provider-frontend-sprint-tracker.md
  web/frontend/src/features/settings/api/profilesApi.regression.ts
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
  web/frontend/src/features/settings/components/asrProfileOptions.regression.ts
  web/frontend/src/features/settings/components/asrProfileOptions.ts
  web/frontend/tsconfig.asr-parameter-tests.json
Due: frontend-lint, frontend-type-check

Use local audio artifacts for in-process ASR engine
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_audio_path_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

Tighten transcript chat selectors
  web/frontend/src/features/transcription/components/TranscriptChatPanel.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Align transcript word timestamps by segment
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/utils/wordSeekIndex.regression.ts
  web/frontend/src/features/transcription/utils/wordSeekIndex.ts
Due: frontend-lint, frontend-type-check

Handle spaced transcript timestamp tokens
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useKaraokeHighlight.ts
  web/frontend/src/features/transcription/hooks/useTranscriptTextSelection.ts
  web/frontend/src/features/transcription/utils/wordSeekIndex.regression.ts
  web/frontend/src/features/transcription/utils/wordSeekIndex.ts
Due: frontend-lint, frontend-type-check

Allow large-v3-turbo as a WhisperX model
  internal/transcription/adapters/whisperx_adapter.go
  web/frontend/src/components/transcription/TranscriptionConfigDialog.tsx
Due: go-lint, frontend-lint, frontend-type-check

feat: add SCRIBERR_ENABLED_MODELS to skip unused model initialization
  README.md
  cmd/server/main.go
  internal/config/config.go
  internal/transcription/registry/registry.go
  internal/transcription/registry/registry_test.go
  internal/transcription/unified_service.go
Due: go-lint

fix: skip 16kHz mono WAV conversion for cloud transcription adapters
  internal/transcription/adapters/openai_adapter.go
  internal/transcription/interfaces/interfaces.go
  internal/transcription/pipeline/pipeline.go
  internal/transcription/pipeline/pipeline_test.go
  internal/transcription/unified_service.go
Due: go-lint

fix: preprocess audio independently per adapter instead of one shared file
  internal/transcription/pipeline/pipeline.go
  internal/transcription/pipeline/pipeline_test.go
  internal/transcription/unified_service.go
Due: go-lint
