Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "**/*.go"
      run: golangci-lint run ./...

    frontend-lint:
      root: "web/frontend/"
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files}

    frontend-type-check:
      root: "web/frontend/"
      glob: "**/*.{ts,tsx}"
      run: npm run type-check

Add settings ASR profiles UI
  internal/api/profile_handlers.go
  internal/api/response_models.go
  internal/api/types.go
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/styles/design-system.css
Due: go-lint, frontend-lint, frontend-type-check

Align ASR profiles with engine settings
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/api/response_models.go
  internal/api/transcriptions_test.go
  internal/models/transcription.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/styles/design-system.css
Due: go-lint, frontend-lint, frontend-type-check

Polish ASR profile settings
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/api/response_models.go
  internal/api/types.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  web/frontend/index.html
  web/frontend/src/components/AudioRecorder.tsx
  web/frontend/src/components/ChatInterface.tsx
  web/frontend/src/components/ChatSessionsSidebar.tsx
  web/frontend/src/components/DragDropOverlay.tsx
  web/frontend/src/components/SystemAudioRecorder.tsx
  web/frontend/src/components/TranscribeDDialog.tsx
  web/frontend/src/components/audio/AudioPlayer.tsx
  web/frontend/src/components/audio/EmberPlayer.tsx
  web/frontend/src/components/icons/WandAdvancedIcon.tsx
  web/frontend/src/components/transcript/TranscriptToolbar.tsx
  web/frontend/src/components/ui/alert-dialog.tsx
  web/frontend/src/components/ui/card.tsx
  web/frontend/src/components/ui/dialog.tsx
  web/frontend/src/features/auth/components/CLIAuthConfirmation.tsx
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
  web/frontend/src/features/settings/components/CLISettingsTab.tsx
  web/frontend/src/features/settings/pages/CLISettingsPage.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/AudioFilesTable.tsx
  web/frontend/src/features/transcription/components/ChatSidePanel.tsx
  web/frontend/src/features/transcription/components/Dashboard.tsx
  web/frontend/src/features/transcription/components/audio-detail/ExecutionInfoDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/LogsDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/SummaryDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/TranscriptSection.tsx
  web/frontend/src/index.css
  web/frontend/src/styles/design-system.css
Due: go-lint, frontend-lint, frontend-type-check

Refine settings UI controls
  web/frontend/index.html
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/index.css
  web/frontend/src/shared/ui/ConfirmDialog.tsx
  web/frontend/src/shared/ui/Select.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Tune settings typography contrast
  web/frontend/src/styles/design-system.css
Due: none

Force Manrope UI weight
  web/frontend/index.html
  web/frontend/src/styles/design-system.css
Due: none

Use full Manrope font weights
  web/frontend/index.html
  web/frontend/src/styles/design-system.css
Due: none

Use static Manrope fonts
  web/frontend/index.html
  web/frontend/public/fonts/manrope/Manrope-Bold.ttf
  web/frontend/public/fonts/manrope/Manrope-ExtraBold.ttf
  web/frontend/public/fonts/manrope/Manrope-ExtraLight.ttf
  web/frontend/public/fonts/manrope/Manrope-Light.ttf
  web/frontend/public/fonts/manrope/Manrope-Medium.ttf
  web/frontend/public/fonts/manrope/Manrope-Regular.ttf
  web/frontend/public/fonts/manrope/Manrope-SemiBold.ttf
  web/frontend/src/styles/design-system.css
Due: none

Tune design system elevation
  web/frontend/src/styles/design-system.css
Due: none

Connect home transcribe action
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/hooks/useProfiles.ts
  web/frontend/src/features/transcription/api/transcriptionsApi.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionListEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Refresh home transcription statuses from SSE
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionListEvents.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Harden home transcription status refresh
  cmd/server/main.go
  internal/api/router.go
  internal/transcription/worker/service.go
  internal/transcription/worker/service_test.go
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionListEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
Due: go-lint, frontend-lint, frontend-type-check

Move profile settings to query hooks
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/hooks/useProfiles.ts
  web/frontend/src/features/settings/pages/SettingsPage.tsx
Due: frontend-lint, frontend-type-check

Harden file import status refresh
  web/frontend/src/features/files/hooks/useFileEvents.ts
  web/frontend/src/features/files/hooks/useFiles.ts
Due: frontend-lint, frontend-type-check

Validate ASR profile engine parameters
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
Due: go-lint

Share transcription event publishing
  internal/api/router.go
Due: go-lint

Add recording detail mockup
  web/frontend/src/components/audio/AudioPlayer.tsx
  web/frontend/src/components/audio/AudioVisualizer.tsx
  web/frontend/src/components/audio/EmberPlayer.tsx
  web/frontend/src/features/files/api/filesApi.ts
  web/frontend/src/features/files/hooks/useFiles.ts
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/ChatSidePanel.tsx
  web/frontend/src/features/transcription/components/audio-detail/DownloadDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/ExecutionInfoDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/LogsDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/NoteEditorDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/NotesSidebar.tsx
  web/frontend/src/features/transcription/components/audio-detail/SpeakerRenameDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/SummaryDialog.tsx
  web/frontend/src/features/transcription/components/audio-detail/TranscriptSection.tsx
  web/frontend/src/features/transcription/components/audio-detail/TranscriptSelectionMenu.tsx
  web/frontend/src/features/transcription/hooks/useAudioDetail.ts
  web/frontend/src/features/transcription/hooks/useTranscriptDownload.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Align transcript timestamps
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Normalize whisper decoding method
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
Due: go-lint

Connect recording detail transcript data
  web/frontend/src/features/transcription/api/transcriptionsApi.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionDetailEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Add ASR chunking profile option
  internal/api/profile_handlers.go
  internal/api/profile_settings_test.go
  internal/api/transcriptions_test.go
  internal/api/types.go
  internal/models/transcription.go
  internal/transcription/engineprovider/local_provider.go
  internal/transcription/engineprovider/local_provider_test.go
  internal/transcription/engineprovider/types.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
  web/frontend/src/features/settings/api/profilesApi.ts
  web/frontend/src/features/settings/components/ASRProfileDialog.tsx
  web/frontend/src/features/settings/pages/SettingsPage.tsx
Due: go-lint, frontend-lint, frontend-type-check

Fail empty transcription results
  internal/transcription/orchestrator/transcript.go
  internal/transcription/orchestrator/transcript_test.go
Due: go-lint

Document LLM provider settings sprint
  devnotes/llm-provider-settings-sprint.md
Due: none

Add LLM provider settings API
  internal/api/llm_provider_handlers.go
  internal/api/llm_provider_handlers_test.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/types.go
Due: go-lint

Add LLM provider settings tab
  web/frontend/src/features/settings/api/llmProviderApi.ts
  web/frontend/src/features/settings/components/LLMProviderPanel.tsx
  web/frontend/src/features/settings/hooks/useLLMProvider.ts
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Refine LLM provider settings UI
  web/frontend/src/features/settings/components/LLMProviderPanel.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Retest LLM provider models on settings load
  internal/api/llm_provider_handlers.go
  internal/api/llm_provider_handlers_test.go
  web/frontend/src/features/settings/components/LLMProviderPanel.tsx
Due: go-lint, frontend-lint, frontend-type-check

Add LLM model configuration settings
  internal/api/llm_provider_handlers.go
  internal/api/llm_provider_handlers_test.go
  internal/api/types.go
  internal/models/transcription.go
  web/frontend/src/features/settings/api/llmProviderApi.ts
  web/frontend/src/features/settings/components/LLMProviderPanel.tsx
  web/frontend/src/shared/ui/Select.tsx
  web/frontend/src/styles/design-system.css
Due: go-lint, frontend-lint, frontend-type-check

Center LLM settings controls
  web/frontend/src/styles/design-system.css
Due: none

Polish LLM settings layout
  web/frontend/src/styles/design-system.css
Due: none

Add automatic transcript summarization
  cmd/server/main.go
  devnotes/automatic-summarization-sprint.md
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/api/summary_handlers.go
  internal/database/schema.go
  internal/models/summary.go
  internal/repository/implementations.go
  internal/summarization/service.go
  internal/summarization/service_test.go
  internal/transcription/worker/service.go
  web/frontend/src/features/transcription/api/summariesApi.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionDetailEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionSummaries.ts
  web/frontend/src/styles/design-system.css
Due: go-lint, frontend-lint, frontend-type-check

Make summary worker event driven
  cmd/server/main.go
  internal/repository/implementations.go
  internal/summarization/service.go
Due: go-lint

Fix summary SSE refresh
  web/frontend/src/features/transcription/api/transcriptionsApi.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
Due: frontend-lint, frontend-type-check

Warn on summary truncation event
  internal/summarization/service.go
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionDetailEvents.ts
Due: go-lint, frontend-lint, frontend-type-check

Document summary widgets sprint
  devnotes/summary-widgets-sprint.md
Due: none

Add summary widget backend
  internal/api/router.go
  internal/api/summary_handlers.go
  internal/api/summary_widget_handlers.go
  internal/api/types.go
  internal/database/schema.go
  internal/models/summary.go
  internal/repository/implementations.go
  internal/summarization/service.go
  internal/summarization/service_test.go
Due: go-lint

Add summary widget frontend
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/features/settings/api/summaryWidgetsApi.ts
  web/frontend/src/features/settings/components/SummaryWidgetDialog.tsx
  web/frontend/src/features/settings/components/SummaryWidgetsPanel.tsx
  web/frontend/src/features/settings/hooks/useSummaryWidgets.ts
  web/frontend/src/features/settings/pages/SettingsPage.tsx
  web/frontend/src/features/transcription/api/summariesApi.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/ReadOnlyMarkdown.css
  web/frontend/src/features/transcription/components/ReadOnlyMarkdown.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionDetailEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionSummaries.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Fix transcription stop and list SSE updates
  internal/api/admin_handlers.go
  internal/api/response_models.go
  internal/api/transcription_handlers.go
  internal/api/transcriptions_test.go
  internal/database/legacy.go
  internal/models/transcription.go
  internal/repository/implementations.go
  internal/repository/job_queue_test.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/orchestrator/processor_test.go
  internal/transcription/worker/service.go
  internal/transcription/worker/service_test.go
  web/frontend/src/features/files/api/filesApi.ts
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/transcription/api/transcriptionsApi.ts
  web/frontend/src/features/transcription/components/AudioFilesTable.tsx
  web/frontend/src/features/transcription/hooks/useAudioFiles.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionListEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
Due: go-lint, frontend-lint, frontend-type-check

Include recording ids in transcription events
  internal/api/router.go
  internal/api/transcription_handlers.go
  internal/transcription/orchestrator/processor.go
  internal/transcription/worker/service.go
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptionListEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
Due: go-lint, frontend-lint, frontend-type-check

Organize v2 devnotes
  devnotes/v2.0.0/README.md
  devnotes/v2.0.0/rules/backend-architecture-rules.md
  devnotes/v2.0.0/rules/brand-orange-palette.md
  devnotes/v2.0.0/rules/design-system-philosophy.md
  devnotes/v2.0.0/rules/react-architecture-rules.md
  devnotes/v2.0.0/specs/api-v1-master-spec.md
  devnotes/v2.0.0/specs/engine-worker-integration-spec.md
  devnotes/v2.0.0/sprint-plans/api-revamp-sprint-plan.md
  devnotes/v2.0.0/sprint-plans/automatic-summarization-sprint.md
  devnotes/v2.0.0/sprint-plans/engine-worker-sprint-plan.md
  devnotes/v2.0.0/sprint-plans/llm-provider-settings-sprint.md
  devnotes/v2.0.0/sprint-plans/summary-widgets-sprint.md
  devnotes/v2.0.0/sprint-trackers/api-revamp-sprint-tracker.md
  devnotes/v2.0.0/sprint-trackers/engine-worker-sprint-tracker.md
  devnotes/v2.0.0/status-updates/api-sprint-00-inventory-and-removal-plan.md
  devnotes/v2.0.0/status-updates/api-sprint-01-api-foundation-notes.md
  devnotes/v2.0.0/status-updates/api-sprint-02-authentication-and-api-keys-notes.md
  devnotes/v2.0.0/status-updates/api-sprint-03-files-and-range-streaming-notes.md
  devnotes/v2.0.0/status-updates/api-sprint-04-transcriptions-api-notes.md
  devnotes/v2.0.0/status-updates/api-sprint-05-profiles-settings-capabilities-admin-notes.md
  devnotes/v2.0.0/status-updates/api-sprint-06-openapi-compatibility-cleanup-notes.md
  devnotes/v2.0.0/status-updates/engine-worker-sprint-00-integration-inventory.md
  devnotes/v2.0.0/status-updates/engine-worker-sprint-08-real-engine-smoke-notes.md
Due: none
