Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

go-lint:
  run: golangci-lint run --new-from-rev=HEAD~ {staged_files}

frontend-lint:
  run: npx eslint {staged_files}

frontend-type-check:
  run: npm run type-check

docs: add LLM disclosure section to README.md
  README.md
Due: none

m
  README.md
Due: none

add speaker dialog to download menu
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
Due: frontend-lint, frontend-type-check

drop the any
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useAudioDetail.ts
Due: frontend-lint, frontend-type-check

ci: add basic build and test workflow
  .github/workflows/ci.yaml
Due: none

flesh it out
  .github/workflows/ci.yaml
  .github/workflows/project-website.yml
Due: none

any
  .github/workflows/ci.yaml
  web/project-site/src/components/ApiReference.tsx
Due: none

fix lint in TOC
  web/project-site/src/components/TableOfContents.tsx
Due: none

Revert "fix lint in TOC"
  web/project-site/src/components/TableOfContents.tsx
Due: none

cleaner
  web/project-site/src/components/TableOfContents.tsx
Due: none

only on main and PRs
  .github/workflows/ci.yaml
Due: none

simpler name of job
  .github/workflows/ci.yaml
Due: none

feat: add RTX 5090 Blackwell GPU support (sm_120)
  Dockerfile.cuda
  Dockerfile.cuda.12.9
  README.md
  docker-compose.blackwell.yml
  docker-compose.build.blackwell.yml
  internal/transcription/adapters/base_adapter.go
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
  internal/transcription/adapters/whisperx_adapter.go
Due: go-lint

fixes #317
  internal/api/handlers.go
Due: go-lint

feat: add system audio recording with microphone mixing
  web/frontend/src/components/Header.tsx
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

refactor: restrict system audio to Chromium browsers only
  .serena/.gitignore
  .serena/project.yml
  scriberr-icon-dark.svg
  scriberr-icon-light.svg
  scriberr_text_logo.svg
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

refactor: use default button components in SystemAudioRecorder
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

refactor: use consistent design system in SystemAudioRecorder
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

style: apply brand gradient to Upload Recording button
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

fix: use remote-only echo cancellation for microphone
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

feat: add toggle for Automatic Gain Control
  web/frontend/src/components/SystemAudioRecorder.tsx
Due: frontend-lint, frontend-type-check

build: adopt gotestsum for go test output formatting
  .dockerignore
  Makefile
  go.mod
  go.sum
  run_tests.sh
Due: none

dont blank on vite startup
  web/frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

Add test suite for python adapter scripts
  internal/transcription/adapters/py/README.md
  internal/transcription/adapters/py/nvidia/tests/test_canary_transcribe.py
  internal/transcription/adapters/py/nvidia/tests/test_parakeet_transcribe.py
  internal/transcription/adapters/py/nvidia/tests/test_parakeet_transcribe_buffered.py
  internal/transcription/adapters/py/nvidia/tests/test_sortformer_diarize.py
  internal/transcription/adapters/py/pyannote/tests/test_pyannote_diarize.py
  tests/data/AMI-Corpus-IB4002.Mix-Headset-clip.wav
Due: none

Extract python adapter scripts to proper files
  .gitignore
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/py/nvidia/canary_transcribe.py
  internal/transcription/adapters/py/nvidia/parakeet_transcribe.py
  internal/transcription/adapters/py/nvidia/parakeet_transcribe_buffered.py
  internal/transcription/adapters/py/nvidia/pyproject.toml
  internal/transcription/adapters/py/nvidia/sortformer_diarize.py
  internal/transcription/adapters/py/pyannote/pyannote_diarize.py
  internal/transcription/adapters/py/pyannote/pyproject.toml
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
Due: go-lint

always copy scripts
  internal/transcription/adapters/canary_adapter.go
  internal/transcription/adapters/parakeet_adapter.go
  internal/transcription/adapters/pyannote_adapter.go
  internal/transcription/adapters/sortformer_adapter.go
Due: go-lint

fix duplicated openapi annotations
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
  internal/api/handlers.go
Due: go-lint

fix duplicated openapi annotations pt 2
  api-docs/docs.go
  api-docs/swagger.json
  api-docs/swagger.yaml
  internal/api/handlers.go
Due: go-lint

Path conditions:
  go-lint: any of: **/*.go
  frontend-lint: any of: **/*.{js,jsx,ts,tsx} and ^web/frontend/
  frontend-type-check: any of: **/*.{ts,tsx} and ^web/frontend/
