Repository rishikanthc/Scriberr: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, frontend-lint, frontend-type-check

go-lint:
  run: golangci-lint run ./...

frontend-lint:
  run: npx eslint {staged_files}

frontend-type-check:
  run: npm run type-check

Add range-based transcript karaoke highlighting
  web/frontend/src/components/transcript/TranscriptToolbar.tsx
  web/frontend/src/components/transcript/TranscriptView.tsx
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useKaraokeHighlight.ts
  web/frontend/src/index.css
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Add transcript annotation schema
  devnotes/v2.0.0/README.md
  devnotes/v2.0.0/sprint-plans/highlights-notes-backend-sprint-plan.md
  internal/database/database_test.go
  internal/database/legacy.go
  internal/database/migrate.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/annotation.go
  internal/models/note.go
  internal/repository/implementations.go
Due: go-lint

Add annotation repository service
  internal/annotations/service.go
  internal/annotations/service_test.go
  internal/repository/annotation_repository_test.go
  internal/repository/implementations.go
Due: go-lint

Track highlights notes backend sprints
  devnotes/v2.0.0/README.md
  devnotes/v2.0.0/sprint-trackers/highlights-notes-backend-sprint-tracker.md
Due: none

Add transcript annotation note entries
  cmd/server/main.go
  docs/api/openapi.json
  internal/annotations/service.go
  internal/annotations/service_test.go
  internal/api/annotation_handlers.go
  internal/api/annotation_handlers_test.go
  internal/api/events_test.go
  internal/api/middleware.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/database/schema.go
  internal/database/steps.go
  internal/models/annotation.go
  internal/repository/annotation_repository_test.go
  internal/repository/implementations.go
  internal/transcription/worker/service.go
Due: go-lint

Add transcript note taking UI
  web/frontend/package.json
  web/frontend/src/features/transcription/api/annotationsApi.ts
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/TranscriptHighlightMenu.tsx
  web/frontend/src/features/transcription/components/TranscriptNoteComposer.tsx
  web/frontend/src/features/transcription/components/TranscriptNotesSidebar.tsx
  web/frontend/src/features/transcription/components/TranscriptSelectionMenu.tsx
  web/frontend/src/features/transcription/hooks/useAudioFiles.ts
  web/frontend/src/features/transcription/hooks/useKaraokeHighlight.ts
  web/frontend/src/features/transcription/hooks/useSelectionMenu.ts
  web/frontend/src/features/transcription/hooks/useTranscriptAnnotations.ts
  web/frontend/src/features/transcription/hooks/useTranscriptSelection.ts
  web/frontend/src/features/transcription/hooks/useTranscriptTextSelection.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionDetailEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionNotes.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionSpeakers.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionSummary.ts
  web/frontend/src/features/transcription/utils/transcriptHighlighting.regression.ts
  web/frontend/src/features/transcription/utils/transcriptHighlighting.ts
  web/frontend/src/styles/design-system.css
  web/frontend/src/types/note.ts
  web/frontend/tsconfig.highlighting-tests.json
Due: frontend-lint, frontend-type-check

Document transcript notes sprint progress
  devnotes/v2.0.0/sprint-plans/transcript-highlighting-frontend-sprint-plan.md
  devnotes/v2.0.0/sprint-plans/transcript-note-taking-frontend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/highlights-notes-backend-sprint-tracker.md
  devnotes/v2.0.0/sprint-trackers/transcript-highlighting-frontend-sprint-tracker.md
  devnotes/v2.0.0/sprint-trackers/transcript-note-taking-frontend-sprint-tracker.md
Due: none

Polish notes sidebar spacing and resizing
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/TranscriptNotesSidebar.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Revamp typography with static Nunito fonts
  devnotes/v2.0.0/rules/typography-design-system-rules.md
  web/frontend/public/fonts/nunito/Nunito-Bold.ttf
  web/frontend/public/fonts/nunito/Nunito-BoldItalic.ttf
  web/frontend/public/fonts/nunito/Nunito-Italic.ttf
  web/frontend/public/fonts/nunito/Nunito-Medium.ttf
  web/frontend/public/fonts/nunito/Nunito-MediumItalic.ttf
  web/frontend/public/fonts/nunito/Nunito-Regular.ttf
  web/frontend/public/fonts/nunito/Nunito-SemiBold.ttf
  web/frontend/public/fonts/nunito/Nunito-SemiBoldItalic.ttf
  web/frontend/public/fonts/nunito/OFL.txt
  web/frontend/src/features/transcription/components/ReadOnlyMarkdown.css
  web/frontend/src/index.css
  web/frontend/src/styles/design-system.css
Due: none

Swap typography font to DM Sans
  devnotes/v2.0.0/rules/typography-design-system-rules.md
  web/frontend/public/fonts/dm-sans/DMSans-Bold.ttf
  web/frontend/public/fonts/dm-sans/DMSans-BoldItalic.ttf
  web/frontend/public/fonts/dm-sans/DMSans-Italic.ttf
  web/frontend/public/fonts/dm-sans/DMSans-Medium.ttf
  web/frontend/public/fonts/dm-sans/DMSans-MediumItalic.ttf
  web/frontend/public/fonts/dm-sans/DMSans-Regular.ttf
  web/frontend/public/fonts/dm-sans/DMSans-SemiBold.ttf
  web/frontend/public/fonts/dm-sans/DMSans-SemiBoldItalic.ttf
  web/frontend/public/fonts/dm-sans/OFL.txt
  web/frontend/src/index.css
  web/frontend/src/styles/design-system.css
Due: none

Fix notes sidebar docking and remove Nunito assets
  web/frontend/public/fonts/nunito/Nunito-Bold.ttf
  web/frontend/public/fonts/nunito/Nunito-BoldItalic.ttf
  web/frontend/public/fonts/nunito/Nunito-Italic.ttf
  web/frontend/public/fonts/nunito/Nunito-Medium.ttf
  web/frontend/public/fonts/nunito/Nunito-MediumItalic.ttf
  web/frontend/public/fonts/nunito/Nunito-Regular.ttf
  web/frontend/public/fonts/nunito/Nunito-SemiBold.ttf
  web/frontend/public/fonts/nunito/Nunito-SemiBoldItalic.ttf
  web/frontend/public/fonts/nunito/OFL.txt
  web/frontend/src/styles/design-system.css
Due: none

Plan chat transcripts backend sprints
  devnotes/v2.0.0/sprint-plans/chat-with-transcripts-backend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/chat-with-transcripts-backend-sprint-tracker.md
Due: none

Add v2 chat persistence schema
  devnotes/v2.0.0/sprint-trackers/chat-with-transcripts-backend-sprint-tracker.md
  internal/database/database_test.go
  internal/database/legacy.go
  internal/database/migrate.go
  internal/database/schema.go
  internal/models/chat.go
  internal/models/transcription.go
  internal/repository/implementations.go
Due: go-lint

Plan chat model capability discovery
  devnotes/v2.0.0/sprint-plans/chat-with-transcripts-backend-sprint-plan.md
Due: none

Complete transcript chat backend contract
  devnotes/v2.0.0/sprint-trackers/chat-with-transcripts-backend-sprint-tracker.md
  docs/api/chat.md
  docs/api/openapi.json
  internal/api/chat_handlers.go
  internal/api/chat_handlers_test.go
  internal/api/middleware.go
  internal/api/route_contract_test.go
  internal/api/router.go
  internal/chat/budget.go
  internal/chat/compactor.go
  internal/chat/compactor_test.go
  internal/chat/context_builder.go
  internal/chat/context_builder_test.go
  internal/chat/transcript.go
  internal/llm/ollama.go
  internal/llm/openai.go
  internal/llm/service.go
  internal/llm/stream.go
  internal/llm/stream_test.go
  internal/models/chat.go
  internal/repository/chat_repository_test.go
  internal/repository/implementations.go
Due: go-lint

Add transcript chat frontend data layer
  devnotes/v2.0.0/sprint-plans/chat-with-transcripts-frontend-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/chat-with-transcripts-frontend-sprint-tracker.md
  web/frontend/src/features/transcription/api/chatApi.ts
  web/frontend/src/features/transcription/hooks/useTranscriptChat.ts
Due: frontend-lint, frontend-type-check

Add transcript chat sidebar UI
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/components/TranscriptChatPanel.tsx
  web/frontend/src/features/transcription/components/TranscriptNotesSidebar.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Drop legacy chat session column during migration
  internal/database/schema.go
Due: go-lint

Enable default transcript chat session
  devnotes/v2.0.0/sprint-trackers/chat-with-transcripts-frontend-sprint-tracker.md
  web/frontend/src/features/transcription/components/TranscriptChatPanel.tsx
Due: frontend-lint, frontend-type-check

Avoid sqlite migrator panic dropping chat column
  internal/database/schema.go
Due: go-lint

Reset obsolete transcript chat schema
  internal/database/schema.go
Due: go-lint

Improve transcript chat streaming feedback
  devnotes/v2.0.0/sprint-trackers/chat-with-transcripts-frontend-sprint-tracker.md
  web/frontend/src/features/transcription/api/chatApi.ts
  web/frontend/src/features/transcription/components/TranscriptChatPanel.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptChat.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Scope transcript chat live rendering
  web/frontend/src/features/transcription/components/TranscriptChatPanel.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptChat.ts
Due: frontend-lint, frontend-type-check

Polish transcript chat controls
  web/frontend/src/styles/design-system.css
Due: none

Refine transcript chat typography
  web/frontend/src/styles/design-system.css
Due: none

Add pointer affordance to sidebar controls
  web/frontend/src/styles/design-system.css
Due: none

Add chat session delete confirmation
  web/frontend/src/features/transcription/api/chatApi.ts
  web/frontend/src/features/transcription/components/TranscriptChatPanel.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptChat.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Plan YouTube import sprint
  devnotes/v2.0.0/sprint-plans/youtube-import-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/youtube-import-sprint-tracker.md
Due: none

Add YouTube import backend workflow
  devnotes/v2.0.0/sprint-trackers/youtube-import-sprint-tracker.md
  internal/api/events_handlers.go
  internal/api/file_handlers.go
  internal/api/files_test.go
  internal/api/router.go
  internal/api/youtube_importer.go
  internal/mediaimport/youtube.go
  internal/mediaimport/youtube_test.go
  internal/repository/implementations.go
Due: go-lint

Add YouTube import frontend workflow
  devnotes/v2.0.0/sprint-trackers/youtube-import-sprint-tracker.md
  web/frontend/src/components/Header.tsx
  web/frontend/src/features/files/api/filesApi.ts
  web/frontend/src/features/files/components/UploadProgressShelf.tsx
  web/frontend/src/features/files/components/YouTubeImportDialog.tsx
  web/frontend/src/features/files/hooks/useFileEvents.ts
  web/frontend/src/features/files/hooks/useFileImport.ts
  web/frontend/src/features/home/components/HomePage.tsx
  web/frontend/src/features/transcription/components/YouTubeDownloadDialog.tsx
  web/frontend/src/features/transcription/hooks/useAudioFiles.ts
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Record YouTube import verification status
  devnotes/v2.0.0/sprint-trackers/youtube-import-sprint-tracker.md
Due: none

Use YouTube title for imported recordings
  internal/api/files_test.go
  internal/mediaimport/youtube.go
  internal/repository/implementations.go
Due: go-lint

Fix homepage transcription SSE updates
  web/frontend/src/features/files/hooks/useFileEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionListEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptions.ts
Due: frontend-lint, frontend-type-check

Harden SSE transport for Firefox
  internal/api/events_handlers.go
  internal/api/events_test.go
  pkg/middleware/compression.go
  web/frontend/src/features/files/hooks/useFileEvents.ts
  web/frontend/src/features/transcription/hooks/useTranscriptionListEvents.ts
Due: go-lint, frontend-lint, frontend-type-check

Plan transcript click-to-seek sprint
  devnotes/v2.0.0/sprint-plans/transcript-click-to-seek-sprint-plan.md
  devnotes/v2.0.0/sprint-trackers/transcript-click-to-seek-sprint-tracker.md
Due: none

Complete click-to-seek sprint audit
  devnotes/v2.0.0/sprint-trackers/transcript-click-to-seek-sprint-tracker.md
Due: none

Add transcript word seek index
  devnotes/v2.0.0/sprint-trackers/transcript-click-to-seek-sprint-tracker.md
  web/frontend/package.json
  web/frontend/src/features/transcription/utils/wordSeekIndex.regression.ts
  web/frontend/src/features/transcription/utils/wordSeekIndex.ts
  web/frontend/tsconfig.word-seek-tests.json
Due: frontend-lint, frontend-type-check

Add transcript caret hit testing
  devnotes/v2.0.0/sprint-trackers/transcript-click-to-seek-sprint-tracker.md
  web/frontend/src/features/transcription/utils/caretHitTesting.ts
Due: frontend-lint, frontend-type-check

Wire transcript click to seek
  devnotes/v2.0.0/sprint-trackers/transcript-click-to-seek-sprint-tracker.md
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/features/transcription/hooks/useTranscriptClickSeek.ts
  web/frontend/src/features/transcription/utils/wordSeekIndex.regression.ts
  web/frontend/src/features/transcription/utils/wordSeekIndex.ts
Due: frontend-lint, frontend-type-check

Polish transcript click seek affordance
  devnotes/v2.0.0/sprint-trackers/transcript-click-to-seek-sprint-tracker.md
  web/frontend/src/features/transcription/components/AudioDetailView.tsx
  web/frontend/src/styles/design-system.css
Due: frontend-lint, frontend-type-check

Path conditions:
  go-lint: any of: **/*.go
  frontend-lint: any of: **/*.{js,jsx,ts,tsx} and ^web/frontend/
  frontend-type-check: any of: **/*.{ts,tsx} and ^web/frontend/
